/* RadComboBox AutoCompleteBox skin */

/*global*/


.RadComboBox_AutoCompleteBox *
{
	margin:0;
	padding:0;
}
/*
.RadComboBox_AutoCompleteBox,
.RadComboBox_AutoCompleteBox .rcbInputCell .rcbInput,
.RadComboBoxDropDown_AutoCompleteBox
{
	font:12px arial,verdana,sans-serif;
	color:#000;
	text-align: left;
	height: 22px;
}
*/
.RadComboBox_AutoCompleteBox_rtl,
.RadComboBox_AutoCompleteBox_rtl .rcbInputCell 
,
.RadComboBoxDropDown_AutoCompleteBox_rtl
{
	text-align: right;
}
.RadComboBox_AutoCompleteBox
{
	vertical-align:bottom;	
}
.RadComboBox_AutoCompleteBox table
{
	border:0;
	width: 100%;
}
.rcbInputCell,
.rcbInputCellLeft
{
	border:0;
	width: 100%;
}
.rcbInput
{
	width: 99%;
	border: 1px solid #636363;	
	background-color: transparent;
	vertical-align: middle;
	font-family: Verdana, MS Sans Serif, Arial;
	font-size:11px;
	padding-top: 4px;	
	padding-left: 3px;
	margin: 0px;
}
.RadComboBox_AutoCompleteBox td.rcbInputCell
{

	vertical-align:top;
	background: #fff;
	width:100%;
}
/*
.RadComboBox_AutoCompleteBox .rcbInputCell .rcbInput
{
	width:100%;
	background:transparent;
	border:0;
	vertical-align:top;
	padding:3px 0 0 0;
	color: #373737;
	outline: 0;
}

.RadComboBox_AutoCompleteBox .rcbInputCell .rcbEmptyMessage
{
	color: #666;
	font-style: italic;
}

.RadComboBox_AutoCompleteBox td.rcbInputCell,
.RadComboBox_AutoCompleteBox .rcbInputCell .rcbInput
{
	padding-left: 2px;
}


.RadComboBox_AutoCompleteBox_rtl td.rcbInputCell,
.RadComboBox_AutoCompleteBox_rtl .rcbInputCell .rcbInput
{
	padding-right: 2px;
	padding-left: 0;
}

.RadComboBox_AutoCompleteBox td.rcbInputCellLeft
{
	border: 0;
}
.RadComboBox_AutoCompleteBox td.rcbInputCellRight
{
	border-left: 0;
}

.RadComboBox_AutoCompleteBox .rcbHovered .rcbInputCell
{
	background: #efefef;
}

.RadComboBox_AutoCompleteBox .rcbFocused .rcbInputCell
{
	background: #efefef;
	border-color: #1d1d1d;
}

.RadComboBox_AutoCompleteBox .rcbFocused .rcbInputCell .rcbInput
{
	color: #1d1d1d;
}

.RadComboBox_AutoCompleteBox .rcbDisabled .rcbInputCell
{
	border-color: #a1a1a1;
}

.RadComboBox_AutoCompleteBox .rcbDisabled .rcbInputCell .rcbInput
{
	color: #9b9b9b;
}
*/

.RadComboBox_AutoCompleteBox td.rcbArrowCell
{
	width:0px;
	border:none; 
	padding:0;
	display:none;
	
	
}
/*
.RadComboBox_AutoCompleteBox .rcbDisabled .rcbArrowCell
{
	background-position: 0 -23px;
	border-color: #878787;
}

.RadComboBox_AutoCompleteBox td.rcbArrowCellLeft
{
	border-right-width: 0;
}

.RadComboBox_AutoCompleteBox td.rcbArrowCellRight
{
	border-left-width: 0;
}


.RadComboBox_AutoCompleteBox .rcbArrowCell a
{
	line-height:21px;
	width:27px;
	height:21px;
	text-decoration:none;
	text-indent: -9999px;
	font-size: 0;
}
*/
.RadComboBox_AutoCompleteBox .rcbDisabled .rcbArrowCell a
{
	cursor:no-drop;
}

.RadComboBox_AutoCompleteBox .rcbDisabled .rcbArrowCellHidden a
{
	cursor: default;
}

.RadComboBox_AutoCompleteBox td.rcbArrowCellHidden,
.RadComboBox_AutoCompleteBox .rcbDisabled .rcbArrowCellHidden,
.RadComboBox_AutoCompleteBox .rcbArrowCellHidden a
{
	width: 0;
}

.rcbSlide
{
	position:absolute;
	overflow:hidden;
	display:none;
	_height:1px;
	float:left;
}

.RadComboBoxDropDown_AutoCompleteBox
{
	position:absolute;
	background:#fff;
	border: 1px solid #626262;
	cursor:default;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
}

.RadComboBoxDropDown_AutoCompleteBox_rtl
{
	text-align: right;
	direction: rtl;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbScroll
{
	overflow:auto;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbList
{
	list-style:none;
	margin:0;
	padding:0;
	zoom:1;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbHeader,
.RadComboBoxDropDown_AutoCompleteBox .rcbFooter
{
	background:#929292;
	color:#fff;
	padding:4px;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbNoWrap .rcbItem,
.RadComboBoxDropDown_AutoCompleteBox .rcbNoWrap .rcbHovered,
.RadComboBoxDropDown_AutoCompleteBox .rcbNoWrap .rcbDisabled,
.RadComboBoxDropDown_AutoCompleteBox .rcbNoWrap .rcbLoading
{
	white-space:nowrap;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbItem,
.RadComboBoxDropDown_AutoCompleteBox .rcbHovered,
.RadComboBoxDropDown_AutoCompleteBox .rcbDisabled,
.RadComboBoxDropDown_AutoCompleteBox .rcbLoading
{
	padding:4px 20px 4px 4px;
}

* html .RadComboBoxDropDown_AutoCompleteBox .rcbItem,
* html .RadComboBoxDropDown_AutoCompleteBox .rcbHovered,
* html .RadComboBoxDropDown_AutoCompleteBox .rcbDisabled,
* html .RadComboBoxDropDown_AutoCompleteBox .rcbLoading
{
	zoom:1;
}

.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbItem,
.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbHovered,
.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbDisabled,
.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbLoading
{
	padding:4px 4px 4px 20px;
}
/*

.RadComboBoxDropDown_AutoCompleteBox .rcbImage
{
	vertical-align: middle;
	margin: 0 6px 2px 0;
}

.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbImage
{
	margin: 0 0 2px 6px;
}
*/
.RadComboBoxDropDown_AutoCompleteBox em
{
	font-style: normal;
	font-weight: bold;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbItem em
{
	background: #e5e5e5;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbHovered
{
	background:#4c4c4c;
	color:#fff;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbDisabled
{
	color:#ccc;
	cursor:no-drop;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbSeparator
{
    color: #fff;
    background: #aaa;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbLoading
{
	background:#f0f0f0;
	text-align:center;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbMoreResults
{
	clear:both;
	background:#f3f3f3;
	padding:4px;
	text-align:center;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbMoreResults a
{
	display:block;
	width:15px;
	height:14px;
	background:url('ComboBox/rcbMoreResults.gif') no-repeat transparent;
	margin:0 auto 4px;
	text-indent:-3333px;
	overflow:hidden;
	text-decoration:none;
	cursor:pointer;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbMoreResults a:hover
{
	background-position:0 100%;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbMoreResults span
{
	display:block;
	text-align:center;
}

.RadComboBoxDropDown_AutoCompleteBox .rcbScroll
{
	scrollbar-face-color: #e9e9e9;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #e9e9e9;
	scrollbar-3dlight-color: #dbdbdb;
	scrollbar-arrow-color: #787878;
	scrollbar-track-color: #f5f5f5;
	scrollbar-darkshadow-color: #aeaeae;
}



/*Opera start*/
@media screen and (min-width:550px)
{
	.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbItem,
	.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbHovered,
	.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbDisabled,
	.RadComboBoxDropDown_AutoCompleteBox_rtl .rcbLoading
	{
		padding:4px 20px 4px 4px;
		zoom:1;
	}
}
/*Opera end*/

