.ui-mobile .ui-page-active {
    overflow: hidden !important;
}
.ui-body-c
{
	background: -moz-linear-gradient(center top , #fff, #ccc) repeat scroll 0 0 #ccc !important;
}
.profile-status-bottom .ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search, .ui-field-contain div.ui-input-text{
    width: 100% !important;
}
.ui-li-desc {
white-space: normal !important;
}

.profile-save-button {
    margin-top: 1em;
}

.profile-save-button .ui-submit {
    width: 100% !important;
}

label.ui-input-text
{
	display: block !important;
}
.reContentCell label.ui-input-text
{
	display: none !important;
}
input.ui-input-text,
textarea.ui-input-text,
.ui-input-search
{
	width: 100% !important;
	padding: 0.4em 0px !important;
	border: none 0px !important;
}
.home-logo
{
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}
DL
{
	margin: 0px;
	padding: 0px;
}
DL DD
{
	margin: 0px;
	padding: 0px;
	position: relative;
}
.social-network
{
	margin-bottom: 20px;
	overflow: hidden;
}
.wall-notes
{
	overflow: hidden;
}
.sn-comment
{
	margin-top: 10px;
	padding-top: 10px;
	border-top: solid 1px #b3b3b3;
	overflow: hidden;
}
.blog-comment
{
	overflow: hidden;
}
.two-column
{
	overflow: hidden;
}
.social-network .left-side,
.wall-notes .left-side,
.social-network .left-side,
.blog-comment .left-side
{
	width: 40px;
	padding-right: 10px;
	float: left;
}
.status-gravatar
{
}
.social-network .right-side,
.wall-notes .right-side,
.social-network .right-side,
.blog-comment .right-side
{
	margin-left: 50px;
}
.profile-status
{
	margin-left: 100px;
}
.profile-status-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    width: 100%;
}
.profile-status H2
{
	margin: 0px 0px 10px 0px !important;
	padding: 0px !important;
}
.social-network IMG,
.wall-notes IMG,
.sn-comment IMG,
.blog-comment IMG,
.friends IMG
{
	width: 32px;
	height: 32px;
	border: solid 1px #ccc !important;
	padding: 3px;
	background: #fff;
}
.status-gravatar IMG
{
	min-width: 100% !important;
    height: auto !important;
	border: solid 1px #ccc !important;
	padding: 3px;
	background: #fff;
}
.social-network .whats-on-your-mind
{
	
}
.ui-li .ui-btn-inner a.ui-link-inherit,
.ui-li-static.ui-li
{
	padding: 0.7em !important;
}
.blog-top
{
	margin-bottom: 30px;
}
.blog-top H1
{
	margin: 0px;
	padding: 0px;
}
.post
{
	margin-bottom: 25px;
}
.description IMG
{
    max-width: 100% !important;
}
.buttons
{
	overflow: hidden;
	clear: both;
}
.profile-status UL,
.profile-status UL LI,
.buttons UL,
.buttons UL LI
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.user-score
{
	font-size: 10px;
}
.friends-holder .ui-listview
{
	margin: 0px -15px !important;
}
.friends
{
	overflow: hidden;
	padding: 2px !important;
}
.friends IMG
{
	width: 50px !important;
	height: 50px !important;
	float: left;
	vertical-align: middle !important;
}
.friends a.link
{
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.friends .name
{
	float: left;
	padding-top: 20px;
	padding-left: 10px;
}
.friends .remove-button
{
	position: absolute;
	top: 0px;
	right: 0px;
}
.RadComboBox_AutoCompleteBox td.rcbInputCell,
.rcbInput
{
	background: Transparent !important;
}
/**** Validation - START ****/
.validation-summary
{
	background: #f3d2cb;
	border: solid 1px #aa1315;
	margin: 10px 0px;
	padding: 10px;
	overflow: hidden;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	color: #aa1315 !important;
}
.validation-summary UL
{
	margin: 0px;
}
validation-summary UL LI
{
	margin: 0px;
	padding: 0px;
}
.validator
{
	position: absolute;
	right: 8px;
	bottom: 8px;
}
.ValidatorAdapter
{
	vertical-align: top;
}
/**** Validation - END ****/