/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[aspnet_Paths]';
DELETE FROM [dbo].[aspnet_Paths];
GO

PRINT N'Inserting values into [dbo].[aspnet_Paths]';

INSERT INTO [dbo].[aspnet_Paths] ([ApplicationId],[PathId],[Path],[LoweredPath]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','9630C822-7D6A-4843-8650-F15182558415',N'~/App_Templates/Default/PageTemplates/language/hr-HR/DefaultTemplate.aspx',N'~/app_templates/default/pagetemplates/language/hr-hr/defaulttemplate.aspx');
GO
INSERT INTO [dbo].[aspnet_Paths] ([ApplicationId],[PathId],[Path],[LoweredPath]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','E0D35683-8CA5-4762-B67B-A7BDEAD95318',N'~/Arctic.aspx',N'~/arctic.aspx');
GO
INSERT INTO [dbo].[aspnet_Paths] ([ApplicationId],[PathId],[Path],[LoweredPath]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','1D6B6F36-15F5-4D17-BAAC-1628A28ED916',N'~/Blog.aspx',N'~/blog.aspx');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

