/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[aspnet_Roles]';
DELETE FROM [dbo].[aspnet_Roles];
GO

PRINT N'Inserting values into [dbo].[aspnet_Roles]';

INSERT INTO [dbo].[aspnet_Roles] ([ApplicationId],[RoleId],[RoleName],[LoweredRoleName],[Description]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','9BEEB032-5BE1-45B9-8179-9962016896C3',N'AdManagers',N'admanagers',N'Ad Manager');
GO
INSERT INTO [dbo].[aspnet_Roles] ([ApplicationId],[RoleId],[RoleName],[LoweredRoleName],[Description]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','4881C9FF-B68B-4A2D-85D0-14EF11DD1AD5',N'Administrators',N'administrators',N'');
GO
INSERT INTO [dbo].[aspnet_Roles] ([ApplicationId],[RoleId],[RoleName],[LoweredRoleName],[Description]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','E03DA7A5-3AAD-4EE5-AF51-9A5E01639FE0',N'All Users',N'all users',N'Generic role for all users.');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

