/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[aspnet_Users]';
DELETE FROM [dbo].[aspnet_Users];
GO

PRINT N'Inserting values into [dbo].[aspnet_Users]';

INSERT INTO [dbo].[aspnet_Users] ([ApplicationId],[UserId],[UserName],[LoweredUserName],[MobileAlias],[IsAnonymous],[LastActivityDate]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','FD82ED24-D7C3-4AC0-952A-017BA0129168',N'Mary',N'mary',NULL,0,'2010-07-08T16:29:23.000');
GO
INSERT INTO [dbo].[aspnet_Users] ([ApplicationId],[UserId],[UserName],[LoweredUserName],[MobileAlias],[IsAnonymous],[LastActivityDate]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','3D874CD2-9F4C-44F3-8D58-0B6E1A1568ED',N'LorraineD',N'lorrained',NULL,0,'2010-06-21T18:09:16.000');
GO
INSERT INTO [dbo].[aspnet_Users] ([ApplicationId],[UserId],[UserName],[LoweredUserName],[MobileAlias],[IsAnonymous],[LastActivityDate]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','F7F2EB43-DB86-4984-B252-21633956BA52',N'MikeS',N'mikes',NULL,0,'2010-06-23T16:12:23.000');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

