/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[aspnet_UsersInRoles]';
DELETE FROM [dbo].[aspnet_UsersInRoles];
GO

PRINT N'Inserting values into [dbo].[aspnet_UsersInRoles]';

INSERT INTO [dbo].[aspnet_UsersInRoles] ([UserId],[RoleId]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','4881C9FF-B68B-4A2D-85D0-14EF11DD1AD5');
GO
INSERT INTO [dbo].[aspnet_UsersInRoles] ([UserId],[RoleId]) VALUES ('67C919E2-8DF4-476A-B312-C26F82A36CFB','23569695-B443-471B-A9E6-991B0147AF69');
GO
INSERT INTO [dbo].[aspnet_UsersInRoles] ([UserId],[RoleId]) VALUES ('FD82ED24-D7C3-4AC0-952A-017BA0129168','EBAF7B92-BB12-40C3-B3E4-FD40B9932E3E');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

