/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[Language]';
DELETE FROM [dbo].[Language];
GO

PRINT N'Inserting values into [dbo].[Language]';

INSERT INTO [dbo].[Language] ([Id],[LanguageName],[CultureName],[DefaultLanguage]) VALUES ('41416B27-E1A8-45E7-A74E-9E1D01842020',N'Croatian (Croatia)',N'hr-HR',0);
GO
INSERT INTO [dbo].[Language] ([Id],[LanguageName],[CultureName],[DefaultLanguage]) VALUES ('0397D1E4-3502-4747-B183-9E1D0184283E',N'Turkish (Turkey)',N'tr-TR',0);
GO
INSERT INTO [dbo].[Language] ([Id],[LanguageName],[CultureName],[DefaultLanguage]) VALUES ('FBF9A916-0C0E-4647-8F3D-9E3000BD8095',N'Italian (Italy)',N'it-IT',0);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

