/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[NavigationLocalization]';
DELETE FROM [dbo].[NavigationLocalization];
GO

PRINT N'Inserting values into [dbo].[NavigationLocalization]';

INSERT INTO [dbo].[NavigationLocalization] ([Id],[LanguageId],[NavigationId],[Title],[ToolTip]) VALUES ('EA2BAF16-0193-448A-8AD7-9B19016B99BF','0543FD17-141B-4C40-BB35-B57F9EEC6EE0','775346A0-7E6C-470D-8235-9B19016B99BF',N'Home',NULL);
GO
INSERT INTO [dbo].[NavigationLocalization] ([Id],[LanguageId],[NavigationId],[Title],[ToolTip]) VALUES ('B0DEC032-614C-4839-8C4D-9D330144BCD9','0543FD17-141B-4C40-BB35-B57F9EEC6EE0','1CF07250-9A51-4E9C-9616-9D330144BCD9',N'Blog',NULL);
GO
INSERT INTO [dbo].[NavigationLocalization] ([Id],[LanguageId],[NavigationId],[Title],[ToolTip]) VALUES ('A87C68B5-CCC7-4A84-B0A1-9D33014C8422','0543FD17-141B-4C40-BB35-B57F9EEC6EE0','10C40877-D1D2-4F72-B5DE-9D33014C8422',N'About',NULL);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

