/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[Page]';
DELETE FROM [dbo].[Page];
GO

PRINT N'Inserting values into [dbo].[Page]';

INSERT INTO [dbo].[Page] ([Id],[ApplicationId],[Url],[UserId],[DateCreated],[TemplateName],[CacheDuration],[VaryByCustom],[VaryByParam],[VaryByContentEncoding],[VaryByHeader],[VaryByControl],[CacheDependencyKeys],[CacheLocation],[SlidingExpiration],[Theme],[MasterPage]) VALUES ('26EBCBF3-442C-4F61-99F3-9954019EC52C','67C919E2-8DF4-476A-B312-C26F82A36CFB',N'~/Default.aspx','67C919E2-8DF4-476A-B312-C26F82A36CFB','2007-12-04T15:30:23.000',N'(Default) DefaultTemplate',0,N'',N'',N'',N'',N'',N'',5,
    1,NULL,NULL);
GO
INSERT INTO [dbo].[Page] ([Id],[ApplicationId],[Url],[UserId],[DateCreated],[TemplateName],[CacheDuration],[VaryByCustom],[VaryByParam],[VaryByContentEncoding],[VaryByHeader],[VaryByControl],[CacheDependencyKeys],[CacheLocation],[SlidingExpiration],[Theme],[MasterPage]) VALUES ('BBC25171-9ED6-48A9-BBF1-9954019FBC24','67C919E2-8DF4-476A-B312-C26F82A36CFB',N'~/Login.aspx','67C919E2-8DF4-476A-B312-C26F82A36CFB','2007-12-04T15:30:23.000',N'(Default) DefaultTemplate',0,NULL,NULL,NULL,NULL,NULL,NULL,
    -1,0,NULL,NULL);
GO
INSERT INTO [dbo].[Page] ([Id],[ApplicationId],[Url],[UserId],[DateCreated],[TemplateName],[CacheDuration],[VaryByCustom],[VaryByParam],[VaryByContentEncoding],[VaryByHeader],[VaryByControl],[CacheDependencyKeys],[CacheLocation],[SlidingExpiration],[Theme],[MasterPage]) VALUES ('C3C10782-EA40-49BD-9A9C-99F90150F03F','67C919E2-8DF4-476A-B312-C26F82A36CFB',N'~/MonoX/Admin/FileManager.aspx','67C919E2-8DF4-476A-B312-C26F82A36CFB','2007-12-04T15:30:23.000',NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,-1,
    0,NULL,NULL);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

