/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnDiscussionBoardModerator]';
DELETE FROM [dbo].[SnDiscussionBoardModerator];
GO

PRINT N'Inserting values into [dbo].[SnDiscussionBoardModerator]';

INSERT INTO [dbo].[SnDiscussionBoardModerator] ([Id],[SnDiscussionBoardId],[UserId]) VALUES ('351F4489-DD4D-46E3-853F-0CE47CBFB132','ED7C2094-6F91-409A-8A7A-9DA501895887','67C919E2-8DF4-476A-B312-C26F82A36CFB');
GO
INSERT INTO [dbo].[SnDiscussionBoardModerator] ([Id],[SnDiscussionBoardId],[UserId]) VALUES ('36071E03-0E35-4207-B81E-27755C3BEDA8','B963040E-35EB-4A57-9C91-9DA401AA9282','67C919E2-8DF4-476A-B312-C26F82A36CFB');
GO
INSERT INTO [dbo].[SnDiscussionBoardModerator] ([Id],[SnDiscussionBoardId],[UserId]) VALUES ('80510B90-B1C1-4A82-9A18-9E5600F689E3','E9F6DBF6-2EF8-44DD-B9A4-9E5600F689E3','3595782A-49F7-4349-9B37-8CEB123232C3');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

