/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnEvent]';
DELETE FROM [dbo].[SnEvent];
GO

PRINT N'Inserting values into [dbo].[SnEvent]';

INSERT INTO [dbo].[SnEvent] ([Id],[UserId],[EventTypeId],[DateCreated],[FriendId],[BlogPostId],[SnGroupId],[SnAlbumId],[SnFileId],[SnDiscussionBoardId],[SnDiscussionTopicId],[OaConsumerId],[CustomId1],[CustomId2],[CustomId3],[EventContent],[PlainEventTitle],[PlainEventUrl]) VALUES ('5C6C95A3-EFF9-4CD3-A739-9D9C012CBF02','4250EBC2-27A3-42EF-9F93-7EDB7E88105A','2BF89309-E9D8-49B9-8E89-A151559A4979','2010-06-21T16:25:29.000',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
GO
INSERT INTO [dbo].[SnEvent] ([Id],[UserId],[EventTypeId],[DateCreated],[FriendId],[BlogPostId],[SnGroupId],[SnAlbumId],[SnFileId],[SnDiscussionBoardId],[SnDiscussionTopicId],[OaConsumerId],[CustomId1],[CustomId2],[CustomId3],[EventContent],[PlainEventTitle],[PlainEventUrl]) VALUES ('EF86FB69-70C2-42E2-9E04-9D9C0135F32E','4250EBC2-27A3-42EF-9F93-7EDB7E88105A','3B6337F4-412E-4691-967D-CDB11A47BB37','2010-06-21T16:55:39.000',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
GO
INSERT INTO [dbo].[SnEvent] ([Id],[UserId],[EventTypeId],[DateCreated],[FriendId],[BlogPostId],[SnGroupId],[SnAlbumId],[SnFileId],[SnDiscussionBoardId],[SnDiscussionTopicId],[OaConsumerId],[CustomId1],[CustomId2],[CustomId3],[EventContent],[PlainEventTitle],[PlainEventUrl]) VALUES ('54E6D5EB-2CD8-4173-AAAB-9D9C01365E32','4250EBC2-27A3-42EF-9F93-7EDB7E88105A','3B6337F4-412E-4691-967D-CDB11A47BB37','2010-06-21T16:57:01.000',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

