/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnRelationship]';
DELETE FROM [dbo].[SnRelationship];
GO

PRINT N'Inserting values into [dbo].[SnRelationship]';

INSERT INTO [dbo].[SnRelationship] ([Id],[NoteId],[FileId],[AlbumId],[BlogPostId],[MessageId],[DiscussionMessageId],[CustomId1],[CustomId2],[CustomId3],[DiscussionBoardId],[DiscussionTopicId],[DocumentId],[NewsItemId],[ListItemId],[BlogId]) VALUES ('430A2A05-D7EC-408B-866A-9DAD014ECDB2',NULL,NULL,'9B1772A8-3FB5-4879-ACD9-9DAD014EB1B3',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO [dbo].[SnRelationship] ([Id],[NoteId],[FileId],[AlbumId],[BlogPostId],[MessageId],[DiscussionMessageId],[CustomId1],[CustomId2],[CustomId3],[DiscussionBoardId],[DiscussionTopicId],[DocumentId],[NewsItemId],[ListItemId],[BlogId],[ApplicationId]) VALUES ('B9C07A25-91DE-45E6-8CB1-9E5A016F66F1',NULL,NULL,'94276E2A-457F-4C0E-ACB6-9E5A016CB530',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);

GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnFile]';
DELETE FROM [dbo].[SnFile];
GO

PRINT N'Inserting values into [dbo].[SnFile]';

INSERT INTO [dbo].[SnFile] ([Id],[UserId],[RelationshipId],[Name],[Url],[Description],[PrivacyLevelId],[ThumbnailUrl],[DateCreated],[AlbumId],[IsAlbumCover],[SortOrder],[Rating]) VALUES ('396801B8-776A-401F-BF34-9DAD014ECDAD','67C919E2-8DF4-476A-B312-C26F82A36CFB','430A2A05-D7EC-408B-866A-9DAD014ECDB2',N'sbaOpen',N'~/Upload/user/admin/album/qHIXm7U_eUis2Z2tAU6xsw/3-F8g23594143732.jpg',N'','9762CB50-0FF3-4DC5-9942-56033CD2D021',NULL,'2010-07-08T18:17:05.000',NULL,0,NULL,0);
GO
INSERT INTO [dbo].[SnFile] ([Id],[UserId],[RelationshipId],[Name],[Url],[Description],[PrivacyLevelId],[ThumbnailUrl],[DateCreated],[AlbumId],[IsAlbumCover],[SortOrder],[Rating]) VALUES ('9F4F12CD-878B-415B-86B4-9DAD014ECE00','67C919E2-8DF4-476A-B312-C26F82A36CFB','430A2A05-D7EC-408B-866A-9DAD014ECDB2',N'AnesthesiaScheduler',N'~/Upload/user/admin/album/qHIXm7U_eUis2Z2tAU6xsw/Aoc8bM3093382689.jpg',N'','9762CB50-0FF3-4DC5-9942-56033CD2D021',NULL,'2010-07-08T18:17:05.000',NULL,0,NULL,0);
GO
INSERT INTO [dbo].[SnFile] ([Id],[UserId],[RelationshipId],[Name],[Url],[Description],[PrivacyLevelId],[ThumbnailUrl],[DateCreated],[AlbumId],[IsAlbumCover],[SortOrder],[Rating]) VALUES ('81BCA43B-16C2-4EAD-991F-9DAD014ECE44','67C919E2-8DF4-476A-B312-C26F82A36CFB','430A2A05-D7EC-408B-866A-9DAD014ECDB2',N'CPL Group',N'~/Upload/user/admin/album/qHIXm7U_eUis2Z2tAU6xsw/fulNsc1061012908.jpg',N'','9762CB50-0FF3-4DC5-9942-56033CD2D021',NULL,'2010-07-08T18:17:05.000',NULL,0,NULL,0);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

