/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnFriend]';
DELETE FROM [dbo].[SnFriend];
GO

PRINT N'Inserting values into [dbo].[SnFriend]';

INSERT INTO [dbo].[SnFriend] ([Id],[UserId],[FriendUserId],[DateCreated]) VALUES ('CB526321-C7DF-49DB-B01B-9DAA01779106','90F4FA98-E91A-430A-9916-F3EC5C93214E','8F620F92-BCAE-4DF7-8A18-6B8942202C93','2010-07-05T20:30:39.000');
GO
INSERT INTO [dbo].[SnFriend] ([Id],[UserId],[FriendUserId],[DateCreated]) VALUES ('9FB9CA74-BE44-4173-98B5-9DAA0177AD2F','90F4FA98-E91A-430A-9916-F3EC5C93214E','A117436D-0970-4396-BF02-93DA7BFF6522','2010-07-05T20:31:01.000');
GO
INSERT INTO [dbo].[SnFriend] ([Id],[UserId],[FriendUserId],[DateCreated]) VALUES ('A9E668A2-6302-4AD1-8C9B-9DAA017903C6','90F4FA98-E91A-430A-9916-F3EC5C93214E','614B9FE6-EF56-4F01-854B-8C87939E509E','2010-07-05T20:35:24.000');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

