/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnGroup]';
DELETE FROM [dbo].[SnGroup];
GO

PRINT N'Inserting values into [dbo].[SnGroup]';

INSERT INTO [dbo].[SnGroup] ([Id],[Name],[DateCreated],[MemberCount],[Description],[IsPublic],[UserId],[ImageUrl],[GroupCategoryId],[Slug]) VALUES ('BD56FD7B-D79E-42D3-9146-9DA4015065E7',N'ASP.NET Developers','2010-06-30T21:22:20.000',5,N'Learn all about building ASP.NET applications - server controls, events, validation, and all other topics related to Web Forms programming.',1,'67C919E2-8DF4-476A-B312-C26F82A36CFB',N'~/Upload/user/admin/group/e_1WvZ7X00KRRp2kAVBl5w/ASP.net-developers.jpg',
    '4236D1BC-291E-4323-8B15-9DA50126457B',N'ASP-NET-Developers');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

