/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnGroupMember]';
DELETE FROM [dbo].[SnGroupMember];
GO

PRINT N'Inserting values into [dbo].[SnGroupMember]';

INSERT INTO [dbo].[SnGroupMember] ([Id],[UserId],[GroupId],[DateCreated],[IsAdmin],[IsApproved]) VALUES ('9F6DA530-F868-4A6C-887A-9DA401506858','67C919E2-8DF4-476A-B312-C26F82A36CFB','BD56FD7B-D79E-42D3-9146-9DA4015065E7','2010-06-29T18:22:20.000',1,1);
GO
INSERT INTO [dbo].[SnGroupMember] ([Id],[UserId],[GroupId],[DateCreated],[IsAdmin],[IsApproved]) VALUES ('E5715EB4-C5F0-4902-8FD1-9DA5017DD9DB','67C919E2-8DF4-476A-B312-C26F82A36CFB','83E52241-AC0D-4954-96D8-9DA5017DD9C6','2010-06-30T20:51:15.000',1,1);
GO
INSERT INTO [dbo].[SnGroupMember] ([Id],[UserId],[GroupId],[DateCreated],[IsAdmin],[IsApproved]) VALUES ('B3CD476F-5051-4816-A50F-9DA501859BA7','67C919E2-8DF4-476A-B312-C26F82A36CFB','D0C404A2-AF59-4ED4-B2AD-9DA501859B92','2010-06-30T21:16:40.000',1,1);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

