/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnMessage]';
DELETE FROM [dbo].[SnMessage];
GO

PRINT N'Inserting values into [dbo].[SnMessage]';

INSERT INTO [dbo].[SnMessage] ([Id],[UserId],[DateCreated],[Subject],[Body],[InReplyToMessageId],[ToList]) VALUES ('8917D18C-DD50-4F7A-BEE7-9D33015D69C5','67C919E2-8DF4-476A-B312-C26F82A36CFB','2010-03-08T19:05:10.000',N'test',N'test msg','8917D18C-DD50-4F7A-BEE7-9D33015D69C5',N'admanager');
GO
INSERT INTO [dbo].[SnMessage] ([Id],[UserId],[DateCreated],[Subject],[Body],[InReplyToMessageId],[ToList]) VALUES ('47598026-6FB0-4935-8FA1-9DAA01872814','A117436D-0970-4396-BF02-93DA7BFF6522','2010-07-05T21:22:25.000',N'more detail',N'Could you please sent me more details on that job offering?','47598026-6FB0-4935-8FA1-9DAA01872814',N'Erica');
GO
INSERT INTO [dbo].[SnMessage] ([Id],[UserId],[DateCreated],[Subject],[Body],[InReplyToMessageId],[ToList]) VALUES ('5849D481-538B-42EB-A97A-9DAC016B79A3','67C919E2-8DF4-476A-B312-C26F82A36CFB','2010-07-07T19:51:17.000',N'test',N'test','5849D481-538B-42EB-A97A-9DAC016B79A3',N'Erica');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

