/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnNote]';
DELETE FROM [dbo].[SnNote];
GO

PRINT N'Inserting values into [dbo].[SnNote]';

INSERT INTO [dbo].[SnNote] ([Id],[ApplicationId],[LanguageId],[UserId],[GroupId],[NoteContent],[DateCreated],[Title],[Rating],[PostToUserId],[PrivacyLevelId]) VALUES ('540295F0-C47B-49E0-A437-9DAA017B09B9','67C919E2-8DF4-476A-B312-C26F82A36CFB','0543FD17-141B-4C40-BB35-B57F9EEC6EE0','90F4FA98-E91A-430A-9916-F3EC5C93214E','BD56FD7B-D79E-42D3-9146-9DA4015065E7',N'We''re looking for talented .NET developers in your area. Contact me for more info.','2010-07-05T20:42:14.000',NULL,0,NULL,'18E7EF31-8FEE-44DA-839C-B23FAA999893');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

