<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="ClipFlair_Studio.html"/>
      </files>
    </defaultDocument>

    <!-- NOTE: DO NOT USE THIS, KEEPS RELOADING THE .XAP EVERY TIME, EVEN WHEN IT HASN'T CHANGED
    <caching>
      <profiles>
        <add extension=".xap" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
-->

   <staticContent>
     <mimeMap fileExtension=".website" mimeType="application/octet-stream" />
   </staticContent>

   <rewrite>
      <rules>
        <!-- see https://stackoverflow.com/questions/4945883/how-to-redirect-http-to-https-in-mvc-application-iis7-5 and https://stackoverflow.com/a/26220124/903783 -->
        <rule name="HTTP to HTTPS redirect (excluding localhost)" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{HTTP_HOST}" pattern="127.0.0.1" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>