/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO


SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[aspnet_PersonalizationAllUsers]';
DELETE FROM [dbo].[aspnet_PersonalizationAllUsers];
GO

PRINT N'Inserting values into [dbo].[aspnet_PersonalizationAllUsers]';

INSERT INTO [dbo].[aspnet_PersonalizationAllUsers] ([PathId],[PageSettings],[LastUpdatedDate]) VALUES ('533CBD99-4F0D-47AD-BC94-09B6FB455E5C',0x00,'2010-07-12T09:54:35.000');
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '533CBD99-4F0D-47AD-BC94-09B6FB455E5C');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001602020203192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E65726963576562506172740511677770626C6F6743617465676F7269657302011E055469746C65050A43617465676F7269657366192B04050B677770746167436C6F756402011F0005045461677366192B04050B677770626C6F67496E666F02021E0B4465736372697074696F6E0509426C6F6720696E666F1F000509426C6F6720696E666F66 WHERE ([PathId] = '533CBD99-4F0D-47AD-BC94-09B6FB455E5C');
GO
GO
INSERT INTO [dbo].[aspnet_PersonalizationAllUsers] ([PathId],[PageSettings],[LastUpdatedDate]) VALUES ('0C67C148-5680-4BF3-BAF4-0C1D573AC883',0x00,'2011-08-30T16:52:11.000');
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '0C67C148-5680-4BF3-BAF4-0C1D573AC883');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001402020203192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E65726963576562506172740511677770626C6F6743617465676F7269657302011E055469746C65050A43617465676F7269657366192B04050B677770746167436C6F756402011F0005045461677366192B04050B677770626C6F67496E666F02011F000509426C6F6720696E666F66 WHERE ([PathId] = '0C67C148-5680-4BF3-BAF4-0C1D573AC883');
GO
GO
INSERT INTO [dbo].[aspnet_PersonalizationAllUsers] ([PathId],[PageSettings],[LastUpdatedDate]) VALUES ('8472FBB7-18BC-465F-952F-0E364887E7D6',0x00,'2010-07-16T16:03:04.000');
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '8472FBB7-18BC-465F-952F-0E364887E7D6');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366 WHERE ([PathId] = '8472FBB7-18BC-465F-952F-0E364887E7D6');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '5D9594A9-26B9-455A-BE11-1503089BA566');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001402020203192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050E6777706D6573736167654C69737402011E055469746C65050B4D79206D6573736167657366192B040511677770736E50656F706C6553656172636802011F00050D5365617263682070656F706C6566192B04050F677770736E467269656E644C69737402011F00050A4D7920667269656E647366 WHERE ([PathId] = '5D9594A9-26B9-455A-BE11-1503089BA566');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '90CD3F3D-4741-4D49-8F91-1602B56228F3');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000802020201192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050E6777706D6573736167654C69737402011E055469746C65050B4D79206D6573736167657366 WHERE ([PathId] = '90CD3F3D-4741-4D49-8F91-1602B56228F3');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '1D6B6F36-15F5-4D17-BAAC-1628A28ED916');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = '1D6B6F36-15F5-4D17-BAAC-1628A28ED916');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'DAF754EE-2B28-41A9-8A5A-1EA59CA19B74');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002A02020203192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C65050B48544D4C20656469746F7266192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066192B0505267E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F585365617263682E61736378051273656172636831246777707365617263683102071F03651F05142B06001F04651E0D50616765725061676553697A65020A1F02142B06001F01651E10536561726368427950726F766964657232940B0001000000FFFFFFFF01000000000000000401000000E20153797374656D2E436F6C6C656374696F6E732E47656E657269632E44696374696F6E61727960325B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D2C5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D040000000756657273696F6E08436F6D7061726572084861736853697A650D4B657956616C756550616972730003000308920153797374656D2E436F6C6C656374696F6E732E47656E657269632E47656E65726963457175616C697479436F6D706172657260315B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D08E60153797374656D2E436F6C6C656374696F6E732E47656E657269632E4B657956616C75655061697260325B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D2C5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D5B5D0200000009020000000300000009030000000402000000920153797374656D2E436F6C6C656374696F6E732E47656E657269632E47656E65726963457175616C697479436F6D706172657260315B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D00000000070300000000010000000200000003E40153797374656D2E436F6C6C656374696F6E732E47656E657269632E4B657956616C75655061697260325B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D2C5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D04FCFFFFFFE40153797374656D2E436F6C6C656374696F6E732E47656E657269632E4B657956616C75655061697260325B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D2C5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D02000000036B65790576616C75650101060500000013506167657353656172636850726F766964657206060000000744656661756C7401F9FFFFFFFCFFFFFF0608000000124E65777353656172636850726F766964657209060000000B66 WHERE ([PathId] = 'DAF754EE-2B28-41A9-8A5A-1EA59CA19B74');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '94A8C964-417B-4200-8E08-22252AF5F39B');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000E0202020119296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3330392C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0010050F6777707365617263684D6F64756C65050A5365617263685A6F6E65666805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050E67777072737350726F7669646572050F6C656674576562506172745A6F6E656668050E677770727373436F6E73756D6572050D7269676874506172745A6F6E65666867681E1844796E616D6963436F6E6E656374696F6E73536861726564142B0007050B6332303239313432343735050B727373436F6E73756D6572050764656661756C74050B72737350726F7669646572051244656661756C7420636F6E6E656374696F6E64646768 WHERE ([PathId] = '94A8C964-417B-4200-8E08-22252AF5F39B');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'C79CE6F0-261E-4A4B-AC76-227FA2036320');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001602020203192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E65726963576562506172740511677770626C6F6743617465676F7269657302011E055469746C65050A43617465676F7269657366192B04050B677770746167436C6F756402011F0005045461677366192B04050B677770626C6F67496E666F02021E0B4465736372697074696F6E0509426C6F6720696E666F1F000509426C6F6720696E666F66 WHERE ([PathId] = 'C79CE6F0-261E-4A4B-AC76-227FA2036320');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'DF0D5D20-CD30-4099-9327-3465DCA5794E');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000E0202020119296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3330392C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0010050F6777707365617263684D6F64756C65050A5365617263685A6F6E65666805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050A677770656469746F7231050F6C656674576562506172745A6F6E65020168050B7770353030353832353734050F6C656674576562506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050B7770363337333838323532056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E61736378050B77703530303538323537346768 WHERE ([PathId] = 'DF0D5D20-CD30-4099-9327-3465DCA5794E');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '779BD9C4-1D55-40EC-BA65-34B9488279DE');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001A0202020319296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3330392C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0010050F6777707365617263684D6F64756C65050A5365617263685A6F6E65666805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050A677770656469746F7231050F6C656674576562506172745A6F6E656668050A77703530373031373532050D7269676874506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050C777031353532363437373231056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052B7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F53696E676C654E6577734D6F64756C652E61736378050A7770353037303137353267680517777031353532363437373231247770353037303137353202011E0945646974526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6237376135633536313933346530383903282B052432333536393639352D623434332D343731622D613965362D393931623031343761663639282B052432353735306464302D623330662D343034322D613231342D396162613031323733343264282B052432333536393639352D623434332D343731622D613965362D39393162303134376166363966050A7770353037303137353202021E0A416C6C6F77436C6F7365671E0A4578706F72744D6F64650B2A3453797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E576562506172744578706F72744D6F64650066 WHERE ([PathId] = '779BD9C4-1D55-40EC-BA65-34B9488279DE');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'B7EEEA92-2D97-49D9-A3CB-366FFCE48F33');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000E0202020119296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3330392C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0014050F6777707365617263684D6F64756C65050A5365617263685A6F6E65666805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050E67777072737350726F7669646572050F6C656674576562506172745A6F6E656668050D677770706E6C41626F75745573050F6C656674576562506172745A6F6E65020168050E677770727373436F6E73756D6572050D7269676874506172745A6F6E65666867681E1844796E616D6963436F6E6E656374696F6E73536861726564142B0007050B6331303936333335393238050B727373436F6E73756D6572050764656661756C74050B72737350726F7669646572051244656661756C7420636F6E6E656374696F6E64646768 WHERE ([PathId] = 'B7EEEA92-2D97-49D9-A3CB-366FFCE48F33');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'FF06E1C9-5D11-42DF-AA1F-36A0A2C4D571');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = 'FF06E1C9-5D11-42DF-AA1F-36A0A2C4D571');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '4AFDAACD-6287-4EFA-BEDF-47B630220DD3');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366 WHERE ([PathId] = '4AFDAACD-6287-4EFA-BEDF-47B630220DD3');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '735CC6DE-2973-4F7B-92BB-52B06B9EB792');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B0010020202021929714D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D332E312E313431372E33352C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602011E12576562506172745374617465536861726564142B000C050A677770656469746F7231050F6C656674576562506172745A6F6E656668050A677770656469746F7232050D7269676874506172745A6F6E656668050A677770656469746F72330517666561747572656450726F6A656374506172745A6F6E6566686768192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E0B4368726F6D6553746174650B2A3253797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E506172744368726F6D6553746174650066 WHERE ([PathId] = '735CC6DE-2973-4F7B-92BB-52B06B9EB792');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '5062F084-3066-4D67-A2DD-5B9092B51BEF');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002C02020204192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723224677770656469746F723202051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B050066192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C65050B496E666F726D6163696A6566192B04052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051F00651F01142B05001F02651F03651F04142B050066192B06050A677770656469746F723202011F050516496E666F726D6163696A65206F206B75706F76696E6966 WHERE ([PathId] = '5062F084-3066-4D67-A2DD-5B9092B51BEF');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'A752BDC3-405F-49D0-BBB8-5BAEBEA160F9');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = 'A752BDC3-405F-49D0-BBB8-5BAEBEA160F9');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '2F1408E4-E58B-45BF-9CA3-6A5FA73B265C');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C65050E507265747261C5BE6976616E6A6566192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = '2F1408E4-E58B-45BF-9CA3-6A5FA73B265C');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '9F44FF61-EF53-49F7-82F4-6DB2204DD184');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366 WHERE ([PathId] = '9F44FF61-EF53-49F7-82F4-6DB2204DD184');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '1F66E180-213D-4235-8510-6DE3D4E92A53');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C6505095265736F757263657366192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = '1F66E180-213D-4235-8510-6DE3D4E92A53');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'A2D4444C-26A9-4339-A8D6-74D6C713F0AA');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B00130202020219296D4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0008050A677770656469746F7231050F6C656674576562506172745A6F6E656668050C777031383232393533303538050D7269676874506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050B7770393234303438303838056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105207E2F4D6F6E6F582F57656250617274732F48746D6C456469746F722E61736378050C7770313832323935333035386768050C77703138323239353330353802011E055469746C65050B48746D6C20456469746F7266 WHERE ([PathId] = 'A2D4444C-26A9-4339-A8D6-74D6C713F0AA');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '2461FA17-C7CD-4D3D-B7B7-806336590F93');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002B02020206192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E65726963576562506172740511677770736E50656F706C6553656172636802021E0648696464656E671E055469746C65050C496E766974652061646D696E66192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F50726F66696C654D6F64756C652F5573657250726F66696C654D6F64756C652E61736378051863746C50726F66696C652467777063746C50726F66696C6502011E1553686F77576F726B696E674D6F64655377697463686766192B0505387E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F50656F706C655365617263682E617363780520736E50656F706C6553656172636824677770736E50656F706C6553656172636802011E0756697369626C656866192B04050E677770736E57616C6C4E6F74657302011F01050A57616C6C206E6F74657366192B04050F677770736E467269656E644C69737402011F01050F4D6F6E6F58277320467269656E647366192B0505357E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F57616C6C4E6F7465732E61736378051A736E57616C6C4E6F74657324677770736E57616C6C4E6F74657302011E165761726E696E674D65737361676573456E61626C65646866 WHERE ([PathId] = '2461FA17-C7CD-4D3D-B7B7-806336590F93');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'B5A12FB7-E0CE-4ABF-9D61-82DD30B9EEB3');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366 WHERE ([PathId] = 'B5A12FB7-E0CE-4ABF-9D61-82DD30B9EEB3');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '79A04F39-2B54-477F-BE84-85336AFCC12A');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = '79A04F39-2B54-477F-BE84-85336AFCC12A');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '99A1D85A-F4EE-4242-AA10-8FA8E8A92FE1');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102011E0E44656661756C74436F6E74656E74053F506C65617365207265706C616365207468697320706C616365686F6C64657220746578742077697468207468652072656C6576616E7420636F6E74656E742E66 WHERE ([PathId] = '99A1D85A-F4EE-4242-AA10-8FA8E8A92FE1');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'D71D5A85-BE7E-45BB-A6C0-9363497E0FC4');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B003202020204192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723224677770656469746F723202061E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A466F6F74657248746D6C651E0D43616368654475726174696F6E661E08437373436C617373651E0A48656164657248746D6C651E0945646974526F6C6573142B050066192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102021E055469746C65050846656174757265731E0B4368726F6D6553746174650B2A3253797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E506172744368726F6D6553746174650066192B04052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051F01651F00142B05001F04651F03651F05142B050066192B06050A677770656469746F723202021E0A4368726F6D65547970650B2A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E506172744368726F6D6554797065001E064865696768741C66 WHERE ([PathId] = 'D71D5A85-BE7E-45BB-A6C0-9363497E0FC4');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'D7570D7B-9ECD-46CE-BB6A-9965B3620E90');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366 WHERE ([PathId] = 'D7570D7B-9ECD-46CE-BB6A-9965B3620E90');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '10183883-D432-4CD4-8121-9A5AFE8B745F');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = '10183883-D432-4CD4-8121-9A5AFE8B745F');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'D16126BD-D418-46F6-AD01-9C03FAD34D63');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B00290202020419296D4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B001005086777706D656E753105126E617669676174696F6E4D656E755A6F6E656668050F6777707365617263684D6F64756C650512506F7274616C576562506172745A6F6E65316668050A677770656469746F7231050F6C656674576562506172745A6F6E65020168050B7770353439363736333332050F6C656674576562506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050C777031393331343337383631056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105267E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F585365617263682E61736378050B77703534393637363333326768192A1953797374656D2E5765622E55492E55736572436F6E74726F6C05207E2F4D6F6E6F582F57656250617274732F48746D6C456469746F722E617363780512656469746F723124677770656469746F723102011E0848746D6C54657874053F506C65617365207265706C616365207468697320706C616365686F6C64657220746578742077697468207468652072656C6576616E7420636F6E74656E742E66051877703139333134333738363124777035343936373633333202061E0B446973706C61794D6F64650B29764D6F6E6F536F6674776172652E4D6F6E6F582E536561726368456E67696E652E536561726368456E67696E654D6F64652C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C011E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B070066050B777035343936373633333202011E0A4578706F72744D6F64650B2A3453797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E576562506172744578706F72744D6F64650066 WHERE ([PathId] = 'D16126BD-D418-46F6-AD01-9C03FAD34D63');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '584FF8E8-7351-4CF7-B40F-9FBAC86161AF');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B00790202020C051877703137343334353933362477703130343736353438343802021E1C49734E6577734D6F64756C65506C616365644F6E486F6D6550616765671E0F4E6577734D6F64756C655469746C6505044E65777366050977703438353930303602011E0A4578706F72744D6F64650B2A3453797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E576562506172744578706F72744D6F6465006619296D4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B002C050B77703833353031313637360514746F70486F6C646572576562506172745A6F6E65020168050C7770313034343230353435370515626F74746F6D4C656674576562506172745A6F6E656667050B77703839393335393933330516626F74746F6D5269676874576562506172745A6F6E656667050C7770313034373635343834380516626F74746F6D5269676874576562506172745A6F6E656667050C7770313830343130363732370516626F74746F6D5269676874576562506172745A6F6E656667050B77703737383534333230300514746F70486F6C646572576562506172745A6F6E656668050B77703634393839313738340516626F74746F6D5269676874576562506172745A6F6E65020468050C7770313432373332333739300516626F74746F6D5269676874576562506172745A6F6E6502036805097770343835393030360516626F74746F6D5269676874576562506172745A6F6E65020268050C7770323031363830373737370516626F74746F6D5269676874576562506172745A6F6E65020168050B77703433323631313038320516626F74746F6D5269676874576562506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B002C050B7770373030323133303933056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105237E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D656E752E61736378050B7770383335303131363736050B7770323835393737343036056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105257E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D6F64756C652E61736378050C777031303434323035343537050B7770323531393536363238056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105257E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D6F64756C652E61736378050B7770383939333539393333050B7770313734333435393336056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105257E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D6F64756C652E61736378050C777031303437363534383438050B7770363035303031323632056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105257E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D6F64756C652E61736378050C777031383034313036373237050B7770393231393735353535056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4C616E67756167654368616E6765722E61736378050B7770373738353433323030050B7770383139393139303535056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052B7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F53696E676C654E6577734D6F64756C652E61736378050B7770363439383931373834050C777031303232333931363536056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052B7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F52616E646F6D4E6577734D6F64756C652E61736378050C777031343237333233373930050B7770393934313236363939056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105297E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D61696E4E6577734D6F64756C652E617363780509777034383539303036050B7770383335323131323035056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052D7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F486F6D65506167654E6577734D6F64756C652E61736378050C777032303136383037373737050B7770393534353032373134056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052C7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F417263686976654E6577734D6F64756C652E61736378050B777034333236313130383267680517777039353435303237313424777034333236313130383202061E0A466F6F74657248746D6C651E0854656D706C61746505095469746C654F6E6C791E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E0D43616368654475726174696F6E023C1E0945646974526F6C6573142B060066050B777034333236313130383202011F020B2B040066050B777036343938393137383402011F020B2B040066051877703238353937373430362477703130343432303534353702041E114E657773526570656174436F6C756D6E7302011F00671E1053686F7753686F7274436F6E74656E74681F0105044E65777366050C77703134323733323337393002011F020B2B04006605177770373030323133303933247770383335303131363736020A1F05651E084D656E75466C6F770B296D54656C6572696B2E576562436F6E74726F6C732E4974656D466C6F772C205261644D656E752E4E6574322C2056657273696F6E3D342E322E322E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62626535396138616433353333653638011F07142B06001E0B53686F7750617468776179671E1043617465676F727946696C7465724964282B062430303030303030302D303030302D303030302D303030302D3030303030303030303030301F08651F09023C1E08437373436C617373651E084D656E75536B696E050744656661756C741F0A142B060066050C77703230313638303737373702011F020B2B040066051877703630353030313236322477703138303431303637323702021F0105044E6577731E0C526561644D6F726550616765282B062430303030303030302D303030302D303030302D303030302D303030303030303030303030660517777032353139353636323824777038393933353939333302081E1753686F7746756C6C43617465676F727950617468776179681E0E53686F7743726561746544617465681E0C53686F77557365726E616D65681E0C53686F775265766973696F6E681F0105044E6577731E1753686F7743617465676F72795469746C6541734C696E6B681F0F282B062430303037383730622D323934662D343664342D626533342D3939316230306661363438311E1453686F774D6F64696669636174696F6E446174656866 WHERE ([PathId] = '584FF8E8-7351-4CF7-B40F-9FBAC86161AF');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '534A0449-08B9-4B9A-875D-A1659B2B3799');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002302020205192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053C7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F7570496E666F2E61736378051C63746C47726F7570496E666F2467777063746C47726F7570496E666F02011E0756697369626C656866192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274051267777063746C50656F706C6553656172636802011E0648696464656E6766192B05050F67777063746C47726F7570496E666F02011F016766192B04053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366192B0405447E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F757050656F706C655365617263682E61736378052263746C50656F706C655365617263682467777063746C50656F706C6553656172636802011F006866 WHERE ([PathId] = '534A0449-08B9-4B9A-875D-A1659B2B3799');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'F5E362DF-E84B-40E6-9F5D-A3FBA13A46F0');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B003302020208192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274051967777063746C496E7669746174696F6E73526563656976656402011E055469746C6505105265717565737420726563656976656466192B04051567777063746C47726F75704D656D6265724C69737402011F00050D47726F7570206D656D6265727366192B04051267777063746C50656F706C6553656172636802011F00050D5365617263682070656F706C6566192B04050F67777063746C47726F7570496E666F02011F00050A47726F757020696E666F66192B04051567777063746C496E7669746174696F6E7353656E7402011F00051053656E7420696E7669746174696F6E7366192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366192B04051467777063746C47726F7570436F6E7461696E657202011F00050647726F75707366192B04051267777063746C53656172636847726F75707302011F00050D5365617263682067726F75707366 WHERE ([PathId] = 'F5E362DF-E84B-40E6-9F5D-A3FBA13A46F0');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'E0D35683-8CA5-4762-B67B-A7BDEAD95318');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001A0202020319296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3330392C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B001805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050A677770656469746F7232050C6C656674506172745A6F6E656668050C677770727373526561646572050C6E657773506172745A6F6E65020168050F6777707365617263684D6F64756C65050A5365617263685A6F6E65666805086777706D656E7532050E466F6F7465724D656E755A6F6E656668050A77703831363138323436050C6E657773506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050C777031313434363631313432056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105297E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D61696E4E6577734D6F64756C652E61736378050A777038313631383234366768050A7770383136313832343602021E0A416C6C6F77436C6F7365671E0A4578706F72744D6F64650B2A3453797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E576562506172744578706F72744D6F646500660517777031313434363631313432247770383136313832343602011E0945646974526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6237376135633536313933346530383903282B062432333536393639352D623434332D343731622D613965362D393931623031343761663639282B062432353735306464302D623330662D343034322D613231342D396162613031323733343264282B062432333536393639352D623434332D343731622D613965362D39393162303134376166363966 WHERE ([PathId] = 'E0D35683-8CA5-4762-B67B-A7BDEAD95318');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '40F1F220-7528-43C1-BD70-C4A05517ECC1');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B008F010202020C051877703630303732383235322477703136373638363833393902061E08437373436C617373651E0A466F6F74657248746D6C651E084D656E75536B696E050744656661756C741E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E0945646974526F6C6573142B040066050C77703138303930343531313002021E0A416C6C6F77436C6F7365671E0A4578706F72744D6F64650B2A3453797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E576562506172744578706F72744D6F6465006619296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3330392C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0020050F6777707365617263684D6F64756C65050A5365617263685A6F6E65666805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050A677770656469746F7231050F6C656674576562506172745A6F6E65020168050B7770323933313531363831050F6C656674576562506172745A6F6E65020268050C777031363736383638333939050D7269676874506172745A6F6E65020168050C777031383039303435313130050D7269676874506172745A6F6E65020268050C777031393436323038313833050F6C656674576562506172745A6F6E656668050C777031343638303930383038050D7269676874506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0014050C777031393038353132303235056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105237E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F41644D6F64756C652E61736378050B7770323933313531363831050B7770363030373238323532056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105237E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D656E752E61736378050C777031363736383638333939050B7770333231343531343939056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105297E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D61696E4E6577734D6F64756C652E61736378050C777031383039303435313130050B7770323230323032373837056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105257E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F506F6C6C4D6F64756C652E61736378050C777031393436323038313833050B7770383233393332373230056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F584D656E7553696D706C652E61736378050C7770313436383039303830386768051877703332313435313439392477703138303930343531313002061F03142B04001F01651F04651F05142B0402282B042432353735306464302D623330662D343034322D613231342D396162613031323733343264282B042432333536393639352D623434332D343731622D613965362D3939316230313437616636391E0854656D706C61746505145469746C65416E6453686F7274436F6E74656E741E0C526561644D6F726550616765282B042465396536623765382D613561332D343261312D616362652D39616265303065636164643466050C77703136373638363833393902021F06671F070B2B050066051877703232303230323738372477703139343632303831383302061F03142B04001F01651F00651E06506F6C6C4964282B042463343037663163652D326164372D346432382D626562662D3961393330313931623962331F04651F05142B040066192A1953797374656D2E5765622E55492E55736572436F6E74726F6C05267E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F585365617263682E61736378051C7365617263684D6F64756C65246777707365617263684D6F64756C6502061F00651F01651E10536561726368427950726F766964657232DC040001000000FFFFFFFF01000000000000000401000000E20153797374656D2E436F6C6C656374696F6E732E47656E657269632E44696374696F6E61727960325B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D2C5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D030000000756657273696F6E08436F6D7061726572084861736853697A6500030008920153797374656D2E436F6C6C656374696F6E732E47656E657269632E47656E65726963457175616C697479436F6D706172657260315B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D08000000000902000000000000000402000000920153797374656D2E436F6C6C656374696F6E732E47656E657269632E47656E65726963457175616C697479436F6D706172657260315B5B53797374656D2E537472696E672C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038395D5D000000000B1F03142B04001F04651F05142B040066051877703832333933323732302477703134363830393038303802061F03142B04001F01651F00651E12506172656E7446696C7465724974656D4964282B042430303030303030302D303030302D303030302D303030302D3030303030303030303030301F04651F05142B040066050C77703139343632303831383302021F06671F070B2B050066050B777032393331353136383102021F06671F070B2B050066192B0705247E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F584D656E752E61736378050E6D656E7531246777706D656E753102061F00651F01651F03142B04001F0E282B042430303030303030302D303030302D303030302D303030302D3030303030303030303030301F04651F05142B040066050C77703134363830393038303802021F06671F070B2B050066 WHERE ([PathId] = '40F1F220-7528-43C1-BD70-C4A05517ECC1');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '4A141EC5-F468-476D-BE57-C80DC26A40B1');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001502020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052D7E2F4D6F6E6F582F53616D706C65732F5765625061727453616D706C652F48656C6C6F576F726C642E61736378052468656C6C6F576F726C6453616D706C652467777068656C6C6F576F726C6453616D706C6502071E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0553746F72790509746573743132330D0A1E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B05001E044E616D6505047465737466 WHERE ([PathId] = '4A141EC5-F468-476D-BE57-C80DC26A40B1');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'EA1A62BA-088A-43C8-8E9A-CC806D5E1D34');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B00150202020219296D4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B000C050A777032323137303232300514746F70486F6C646572576562506172745A6F6E656668050C7770313439303331333634350515626F74746F6D4C656674576562506172745A6F6E656668050C7770323030363134363036300516626F74746F6D5269676874576562506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B000C050C777032303037303630323936056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105247E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F584D656E752E61736378050A77703232313730323230050C777032303339363436333134056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105257E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4E6577734D6F64756C652E61736378050C777031343930333133363435050C777031343334373938393236056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105267E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F585365617263682E61736378050C777032303036313436303630676805197770323033393634363331342477703134393033313336343502021E0F4E6577734D6F64756C655469746C6505044E6577731E0C526561644D6F72655061676528295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038392432366562636266332D343432632D346636312D393966332D39393534303139656335326366 WHERE ([PathId] = 'EA1A62BA-088A-43C8-8E9A-CC806D5E1D34');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'B6EF5EEA-0FDA-4027-B7A8-CC85645EA820');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001502020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C05327E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4576656E744D6F64756C652F4576656E744D6F64756C652E61736378051A6576656E744D6F64756C65246777706576656E744D6F64756C6502071E0A43616C656E646172496428295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038392434623630373135642D323837312D343265322D396463622D3965623130313062646565361E0A466F6F74657248746D6C651E0854656D706C61746505104576656E7444657461696C73566965771E0956696577526F6C6573142B05001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B050066 WHERE ([PathId] = 'B6EF5EEA-0FDA-4027-B7A8-CC85645EA820');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'E2BDF936-4EDC-4921-8726-CE62A323C2B3');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = 'E2BDF936-4EDC-4921-8726-CE62A323C2B3');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '52FE27E5-3AD5-4DDE-BEBE-D238C79E8887');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000A020202011929694D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582C2056657273696F6E3D332E312E313431372E33352C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602011E12576562506172745374617465536861726564142B000C050E67777072737350726F7669646572050F6C656674576562506172745A6F6E656668050D6777706C626C43617074696F6E050D7269676874506172745A6F6E656668050E677770727373436F6E73756D6572050D7269676874506172745A6F6E650201686768 WHERE ([PathId] = '52FE27E5-3AD5-4DDE-BEBE-D238C79E8887');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'BBFE6319-C9C9-4D5F-BDE2-D36C75DDA22D');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001702020202192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C650504426C6F6766192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B060066 WHERE ([PathId] = 'BBFE6319-C9C9-4D5F-BDE2-D36C75DDA22D');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'BFAE57F2-10B6-434A-892E-D64B59942B35');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001B02020204192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E65726963576562506172740511677770736E50656F706C6553656172636802011E055469746C65050D5365617263682070656F706C6566192B04050C67777063746C4576656E747302011F00050A4163746976697469657366192B04050F677770736E467269656E644C69737402011F000507467269656E647366192A1953797374656D2E5765622E55492E55736572436F6E74726F6C05357E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F57616C6C4E6F7465732E61736378051A736E57616C6C4E6F74657324677770736E57616C6C4E6F74657302011E165761726E696E674D65737361676573456E61626C65646866 WHERE ([PathId] = 'BFAE57F2-10B6-434A-892E-D64B59942B35');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '65E2C52D-0E87-4868-8B0A-D959AB9EA27F');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C05357E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F57616C6C4E6F7465732E61736378051A736E57616C6C4E6F74657324677770736E57616C6C4E6F74657302011E165761726E696E674D65737361676573456E61626C65646766 WHERE ([PathId] = '65E2C52D-0E87-4868-8B0A-D959AB9EA27F');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '078BF3F9-101C-4C65-BFF6-DE0C9FB1E868');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B003402020205192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050D677770706E6C41626F7574557302011E055469746C6505074B6F6E74616B7466192B04050A677770656469746F723102021F000507556B7261746B6F1E0B4368726F6D6553746174650B2A3253797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E506172744368726F6D6553746174650066192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B070066192B06052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723224677770656469746F723202051F02651F03142B07001F04651F05651F06142B070066192B04050A677770656469746F723202011F00051754656B737420706FC48D65746E6520737472616E69636566 WHERE ([PathId] = '078BF3F9-101C-4C65-BFF6-DE0C9FB1E868');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = 'D8813959-1647-4BE8-8756-DEE561064CC4');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002C02020204192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723224677770656469746F723202051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B050066192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C6505075265737572736966192B04052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051F00651F01142B05001F02651F03651F04142B050066192B06050A677770656469746F723202011F0505154F70697320646F6461746E6968207265737572736166 WHERE ([PathId] = 'D8813959-1647-4BE8-8756-DEE561064CC4');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '92AE87B1-6456-4F7B-99C9-E873B40B0607');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000902020201192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366 WHERE ([PathId] = '92AE87B1-6456-4F7B-99C9-E873B40B0607');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '9630C822-7D6A-4843-8650-F15182558415');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B001A0202020305197770313833343731343636302477703231323239343730323902011E0E44656661756C74436F6E74656E74053F506C65617365207265706C616365207468697320706C616365686F6C64657220746578742077697468207468652072656C6576616E7420636F6E74656E742E6619296F4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E3237382C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0010050F6777707365617263684D6F64756C650512506F7274616C576562506172745A6F6E6531666805086777706D656E753105124E617669676174696F6E4D656E755A6F6E656668050A677770656469746F7231050F6C656674576562506172745A6F6E65020168050C777032313232393437303239050F6C656674576562506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050C777031383334373134363630056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62303366356637663131643530613361052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E61736378050C7770323132323934373032396768192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102011F00053F506C65617365207265706C616365207468697320706C616365686F6C64657220746578742077697468207468652072656C6576616E7420636F6E74656E742E66 WHERE ([PathId] = '9630C822-7D6A-4843-8650-F15182558415');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '5A38CEA1-2ADD-4FBB-B6AB-F714F1B5B5B3');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B000802020201192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050D67777064697363757373696F6E02011E055469746C65050A44697363757373696F6E66 WHERE ([PathId] = '5A38CEA1-2ADD-4FBB-B6AB-F714F1B5B5B3');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '4AD6F0F3-8250-4FB4-B4BD-F89774EC1C06');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002C02020204192A1953797374656D2E5765622E55492E55736572436F6E74726F6C052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723224677770656469746F723202051E0A466F6F74657248746D6C651E0956696577526F6C657314295853797374656D2E477569642C206D73636F726C69622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D62373761356335363139333465303839001E0A48656164657248746D6C651E08437373436C617373651E0945646974526F6C6573142B050066192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274050A677770656469746F723102011E055469746C65050B4D6F6775C4876E6F73746966192B04052A7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F4D6F6E6F5848746D6C456469746F722E617363780512656469746F723124677770656469746F723102051F00651F01142B05001F02651F03651F04142B050066192B06050A677770656469746F723202011F05051B4F706973207465686E69C48D6B6968206D6F6775C4876E6F73746966 WHERE ([PathId] = '4AD6F0F3-8250-4FB4-B4BD-F89774EC1C06');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '632A9450-0803-424F-BF1E-F9EF99F27E35');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B00510202020605197770313033393335393235382477703132303830343835333602061E08437373436C617373050B706F7374436F6E74656E741E0A466F6F74657248746D6C651E0355726C0520687474703A2F2F7777772E6A6F6273626C6F672E69652F4A6F62732F7273732F1E084D61784974656D7302051E09436163686554696D6507000000000070B7401E0A48656164657248746D6C05253C683120636C6173733D706F737448656164696E6748313E52535320666565643C2F68313E6619296D4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0014050A677770656469746F7231050F6C656674576562506172745A6F6E656668050B7770373532353337303831050F6C656674576562506172745A6F6E65020167050C777031333532373030323931050F6C656674576562506172745A6F6E65020368050C777031323038303438353336050F6C656674576562506172745A6F6E65020268050B7770363635303039343435050F6C656674576562506172745A6F6E6502016867681E1544796E616D69635765625061727473536861726564142B0010050C777031373038313234303238056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105247E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F5273735265616465722E61736378050B7770373532353337303831050B7770333037383130373633056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105247E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F5273735265616465722E61736378050C777031333532373030323931050C777031303339333539323538056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105247E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F5273735265616465722E61736378050C777031323038303438353336050C777031353132303733363137056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105247E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F5273735265616465722E61736378050B77703636353030393434356768192A1953797374656D2E5765622E55492E55736572436F6E74726F6C05207E2F4D6F6E6F582F57656250617274732F48746D6C456469746F722E617363780512656469746F723124677770656469746F723102011E0848746D6C5465787405C8016C696A65766920323C62723E61623C62723E3C6120687265663D22687474703A2F2F7777772E6D6F6E6F2E68722F223E746573743C2F613E3C62723E3C7370616E2069643D63746C30305F6D70335F6D70325F6D70315F63705F63705F77706D5F7770313035323631313238315F7770323036333338343936375F7270745273735F63746C30305F6C626C5273733E4A6F62732053697465732061726520666169726C7920737472616967687420666F7277617264207765622073697465732E203C2F7370616E3E66051877703137303831323430323824777037353235333730383102061F00050B706F7374436F6E74656E741F01651F020520687474703A2F2F7777772E6A6F6273626C6F672E69652F4A6F62732F7273732F1F0302051F0407000000000070B7401F0505253C683120636C6173733D706F737448656164696E6748313E52535320666565643C2F68313E66051877703135313230373336313724777036363530303934343502061F0302051F020520687474703A2F2F7777772E6A6F6273626C6F672E69652F4A6F62732F7273732F1F0505253C683120636C6173733D706F737448656164696E6748313E52535320666565643C2F68313E1F01651F0407000000000070B7401F00050B706F7374436F6E74656E7466051877703330373831303736332477703133353237303032393102061F00050B706F7374436F6E74656E741F01651F020520687474703A2F2F7777772E6A6F6273626C6F672E69652F4A6F62732F7273732F1F0302051F0407000000000070B7401F0505253C683120636C6173733D706F737448656164696E6748313E52535320666565643C2F68313E66 WHERE ([PathId] = '632A9450-0803-424F-BF1E-F9EF99F27E35');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '30047975-B15C-47BC-89A4-FDB4DA036AD8');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B002302020205192A1953797374656D2E5765622E55492E55736572436F6E74726F6C053C7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F7570496E666F2E61736378051C63746C47726F7570496E666F2467777063746C47726F7570496E666F02011E0756697369626C656866192A3153797374656D2E5765622E55492E576562436F6E74726F6C732E57656250617274732E47656E6572696357656250617274051267777063746C50656F706C6553656172636802011E0648696464656E6766192B05050F67777063746C47726F7570496E666F02011F016766192B04053E7E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F75705365617263682E61736378052263746C53656172636847726F7570732467777063746C53656172636847726F75707302011E1144656661756C7453656172636854657874051B456E7465722067726F757020736561726368206B6579776F72647366192B0405447E2F4D6F6E6F582F4D6F64756C6547616C6C6572792F536F6369616C4E6574776F726B696E672F47726F7570732F47726F757050656F706C655365617263682E61736378052263746C50656F706C655365617263682467777063746C50656F706C6553656172636802011F006866 WHERE ([PathId] = '30047975-B15C-47BC-89A4-FDB4DA036AD8');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [PathId] FROM [dbo].[aspnet_PersonalizationAllUsers] WHERE ([PathId] = '18BAE1F1-FB8A-43AD-B5B9-FF8DA07011C2');
UPDATE [dbo].[aspnet_PersonalizationAllUsers] SET [PageSettings]  = 0xFF01142B00130202020219296D4D6F6E6F536F6674776172652E4D6F6E6F582E506F7274616C576562506172744D616E616765722C204D6F6E6F582E4C6962726172792C2056657273696F6E3D312E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6E756C6C05055F5F77706D6602021E12576562506172745374617465536861726564142B0004050B77703332363733383639350514746F70486F6C646572576562506172745A6F6E65666867681E1544796E616D69635765625061727473536861726564142B0004050C777031343938333539393135056853797374656D2E5765622E55492E55736572436F6E74726F6C2C2053797374656D2E5765622C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336105207E2F4D6F6E6F582F57656250617274732F48746D6C456469746F722E61736378050B77703332363733383639356768050B777033323637333836393502011E055469746C65050B48746D6C20456469746F7266 WHERE ([PathId] = '18BAE1F1-FB8A-43AD-B5B9-FF8DA07011C2');
GO
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

PRINT N'Done.';

