/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[BlogEditor]';
DELETE FROM [dbo].[BlogEditor];
GO

PRINT N'Inserting values into [dbo].[BlogEditor]';

INSERT INTO [dbo].[BlogEditor] ([Id],[BlogId],[UserId]) VALUES ('C676E532-8D18-4A54-84FB-9D9E01607825','A81970C2-282F-42C5-92E4-9CF300F52FFC','FD82ED24-D7C3-4AC0-952A-017BA0129168');
GO
INSERT INTO [dbo].[BlogEditor] ([Id],[BlogId],[UserId]) VALUES ('1EEC99F9-4A10-4143-9523-9D9E01607825','A81970C2-282F-42C5-92E4-9CF300F52FFC','3D874CD2-9F4C-44F3-8D58-0B6E1A1568ED');
GO
INSERT INTO [dbo].[BlogEditor] ([Id],[BlogId],[UserId]) VALUES ('B7E3D684-8602-4BAB-ACB4-9D9E01607825','A81970C2-282F-42C5-92E4-9CF300F52FFC','F7F2EB43-DB86-4984-B252-21633956BA52');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

