/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[PageLocalization]';
DELETE FROM [dbo].[PageLocalization];
GO

PRINT N'Inserting values into [dbo].[PageLocalization]';

GO
INSERT INTO [dbo].[PageLocalization] ([Id],[LanguageId],[PageId],[Title],[Description],[Keywords]) VALUES ('C28858E8-0BDF-4748-B3C3-9954019FBC24','0543FD17-141B-4C40-BB35-B57F9EEC6EE0','BBC25171-9ED6-48A9-BBF1-9954019FBC24',N'Login',N'',N'nbsp, name, powered, company, reserved, some, rights, mono, your, thoughts, login, give, cms, contact, all, example, defaultnews, search, pagecontainer212portal, web, beyond, remember, time, next, log, password, user');
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

