/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO

CREATE TABLE #RecoveryModel ( [Model] nvarchar(150) NOT NULL )
INSERT INTO #RecoveryModel ([Model]) Select recovery_model_desc from sys.databases Where name='MonoX2'
ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
GO

SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[SnMessageRecipient]';
DELETE FROM [dbo].[SnMessageRecipient];
GO

PRINT N'Inserting values into [dbo].[SnMessageRecipient]';

INSERT INTO [dbo].[SnMessageRecipient] ([Id],[MessageId],[UserId],[MessageStatus],[DateRead]) VALUES ('AEA66FA1-F72C-40B2-A7D1-9DAA01875C9C','47598026-6FB0-4935-8FA1-9DAA01872814','90F4FA98-E91A-430A-9916-F3EC5C93214E',1,'2010-07-05T21:23:05.000');
GO
INSERT INTO [dbo].[SnMessageRecipient] ([Id],[MessageId],[UserId],[MessageStatus],[DateRead]) VALUES ('77F87492-6F53-4B34-ADB9-9DAA01875C9C','47598026-6FB0-4935-8FA1-9DAA01872814','A117436D-0970-4396-BF02-93DA7BFF6522',0,NULL);
GO
INSERT INTO [dbo].[SnMessageRecipient] ([Id],[MessageId],[UserId],[MessageStatus],[DateRead]) VALUES ('66C05113-CFF9-492A-AB35-9DAC016B8DA3','5849D481-538B-42EB-A97A-9DAC016B79A3','90F4FA98-E91A-430A-9916-F3EC5C93214E',1,NULL);
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'SIMPLE')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY SIMPLE
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'BULK_LOGGED')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY BULK_LOGGED
END
IF ((SELECT TOP 1 [Model] FROM #RecoveryModel) = 'FULL')
BEGIN
	ALTER DATABASE [MonoX2] SET RECOVERY FULL
END
GO
DROP TABLE #RecoveryModel

PRINT N'Done.';

