/*
 *
 * Automatically generated for MonoX installation
 *
 */

USE MonoX2;
GO


SET NOCOUNT ON
/* ======================================================================= */

PRINT N'Deleting existing values from [dbo].[UserAvatar]';
DELETE FROM [dbo].[UserAvatar];
GO

PRINT N'Inserting values into [dbo].[UserAvatar]';

INSERT INTO [dbo].[UserAvatar] ([Id],[Avatar],[DateEntered],[DateModified]) VALUES ('FD82ED24-D7C3-4AC0-952A-017BA0129168',0x00,'2010-06-21T20:17:29.000','2010-06-21T20:17:29.000');
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = 'FD82ED24-D7C3-4AC0-952A-017BA0129168');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F7FA28AA3ABEAD67A1E9571A95FCA23B6813739EE7D00F73D28027BBBBB6B1B692E6EE78E082319792460AAA3DC9AE12E3E3578220B8687FB4657DA71E62C0DB0FE38AF0BF1BF8FB57F1DEADE500E9648DFB8B343951FED37AB7B9E9DAB9D3E19D49C6F91319F5352E718EECB8D39CBE1573E8A3F1DFC19F69F295EF5971932880EDFF001AD5B0F8BFE07D42411AEB49031E82E2368FF52315F28DCD94F664ABA32FB91553DA9A69EC4B4D3B33EE7D3F53B1D5AD56EB4EBB86EA06E9242E187E956EBE43F863E366F0678A127B824E9D7388EE5771C28ECF8E9C57D7314A934292C4E1E3750CACA72083C8229887D145140057877C7DF10C88B63A0C2FF291E7CCA3B9E8A3F99AF6D9E68EDADE49E6609146A5DD8F600649AF92FC53ACBF8ABC782EF1913DC0D8AC70020FBA3F2149BB2B8E2AEEC74BE14F0B4765611C92A83712805D8F6F6ADFBCD3005C2A70055DD3A556B00C1556555E573B803587378834F8A67B7BEBB9EE2E1537388C36117D70A381F5AF23DE9C9B7B9EEA71A7149688E4FC4161E6C6E36F4CF6AE01A32242BD082457AADE186EE32F6EFE646C32A739E2B82D52D424D23A8C15604FE35D7869FD9671E369A769A3148271E95F45FC07F18BEA1A64DE1ABC90B4F66BE65B163C98B382BFF013D3D8FB57CF03E5CAF71D2BB1F87DAE3681E2DD3B5844510DBAF9375CE0B2364123E8307F0AED3CD3EBBA29914A934492C6C191D432B039041E868A00E5FE24CB343F0F75778412DE505207F74B007F435F2D78834ABBD2F5C4B305BED1BD3611C10CC071EC726BEC8BEB28351B19ACEE537C3321475F506BE73F8ABA6BF87FC6F61A84CE275CC522E061A411900E47AE075A1EC345FD26CDF40B0481E5CB852A5C1396E7A9C93F4FA53E3D06096F5EF6DA4955AE136CBE5CA54383D41C751C569CBA943A95AC7359877B77C347E5E3322E3A9F6E71F5155A4BD93483194B49B6B9FEE1E49AF224E7CCDA3DD8C60E0934676A365169D118A28D502AE30A3A579D5E4A26BE963E9E64657F11C8AF43D7A769159CFF0010CD7965FCAD1EA0194F2A735B6155DB6618D76824569972E187F10C8AD6F0BEA16761AD4525FE9706A103831B4331C005B80D9ED8EB59F3E049B4F0ADF3230F7ED512C726EDD18DDEBB79AEF4CF29AD4FADBE1A4091F82EC258D422C91E1911B2BB958A9239EF81D3D28AE3FE03F89AE2FF00439F419A22134D198A4C7DE566271ED8A2A893D7C90AA492001C927B57C9BF14BC52BE27F184F71037FA0DB7EE203FDE00F27F135F447C44D6868BE0DBE647DB713C6628B079C91827F0CD7CA5AAB5BBC8B0C1F7221827D71FE4D26F5292D2E75FF0C35FB886E27D2C39565569ADDF3CAFF797E9DEBB6BE924924FB4DD4C5DBFDA39AF0AD3B52B9D2B508AF6CDC2CD11246464107A83ED5D34DE30D475996049228EDE1724318C93BB1F5E95C95E8CA4EF1D8EFC3626318F2CB73735DD50CCE61B752EC7D3A0AE565D2CEC9A59CB0C90BBC2E46EC676FE55D934702580F290648E4FAD71DA8DF4B6ED32214C4A7072B9E9DC7A5461DEB645E2D5E3765142B35BF96DF7E3FBBCF51558002407690C0FDE538351BE5634753D4535276660ACBB8F63DEBB2C79D73E82F80D12236AF3925A598260E7A019C823EBDE8A83E084A775C425D0DC295909FF00A6441054FBE4038FC68AA5B12F71BF19F556BBBAB7B7B166B989A1287CB0488E4DD9E7EA2BC5CE9F3101441315C9DEC50FCC7FC28A2914506B0BB2C4ADA4FC9E07966BBBD73C2971A3E9DE1B2B09666B5713ED1D1CB6EE7DF9C7E14514E5F031D2F8D1224532DA05647071D306B94BFB4B898CD308253CED41B0F4F5A28AE5A2B5B9D9899696289B2BB6B6C7D9A6C8C7FCB3351AD95E46E1BEC939FF00B6668A2BA4E03A5D2259E39225F26E57E7077042083FCE8A28A10EE7FFD9 WHERE ([Id] = 'FD82ED24-D7C3-4AC0-952A-017BA0129168');
GO
GO
INSERT INTO [dbo].[UserAvatar] ([Id],[Avatar],[DateEntered],[DateModified]) VALUES ('3D874CD2-9F4C-44F3-8D58-0B6E1A1568ED',0x00,'2010-06-21T20:07:24.000','2010-06-21T20:07:24.000');
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '3D874CD2-9F4C-44F3-8D58-0B6E1A1568ED');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F7FA28A2800A28A82F2E52D2CE5B890E16352C687A01CD78B7C457365FF12FD2B6FDB1D72F291910AFAE3B9F415E3FAC5D6B73DC34514D7523E796321258FD7FC8AECAEB52F283CF2906EEF24279EA07F9FE75A1691DB59D8497AF1A9931F2835C137394AFD0F461184236EA79AC3E26F11F84E4595B59646EA6DE56DEAC3E87A57B2F81BC7961E32B1FDD958EFA25FDF43FD57DABC727F006B5E32D567BE5963B6B42C7F7F364EE3E8A075FAF4AD4F06F827C4BE0DF1BD84D0DC5B5C58BC9B6774623E43D720D6D4E6ACB531AB4DDDE87BF514515D272051451400571BF12F536D37C331ED3FEBAE5233F4E4FF4AECABCCFE344BB7C3B6318EF740FE86A2A3B44D292BCD1C0FDAA4BED6ADD5DFE548C67DB2727F415B1AB789ACEDEE6D2C6E2578E127E77542D80064838E99E173EF5CAE9F213A83107FE59A2FE78FF00EBD773E01B3B5D434DD46FEED55CCB3F94030E8A39E3F3AE44FB9DAE37D8E8B4AF135A6ABA7AF936DE4045C285E63DA38F95BFA75AB5A67997BAEC2ABCC499663F4AA9AF6931D9F8424B1D1552CCC8C02C8A992993CB7B9EB55FE147866F34886FEFEFAECDC34EDE5C64B124007E627B727A55C21CD233A93E585AC7A5514515D6710514D675452CCC1540C924E0015C8EB1F11B46D392416AE2FE541CAC320C0FC6A6538C7765461293B247615E47F18EE04DA76C539FB3CF1E7F106B8FD6FE356BFA85D9B7D3CC76101386645CB81DF04F7ACCD77C432EA7A296998937120639393F2E00AC2ACF9AC91BD2A76BB655D327C4E5C9E1541CFD16BB7F8797CF67E139AEBCC84C6970C5A3941009C0E770E9F9579E6964491DC927A2607E58AE83C31AD5C68DA1CF0A491B41216631BAE4920E319F7AC64EC75D3F33B05B8D57C41AB456DA479D02CAFE64F0C9F34600FE20C3231FE715EB5A6D8A69DA7C56A873B07CCDFDE3DCD7977837E25787AC2D12C27B37B26EA6541BC31F53DC57A3E9FE25D1754C0B3D4ADE56FEEEEC1FC8D6F4B916B7D4E6C439C9E8B43568A28AE8390E675FB8875249B4C68FCC80FCB28DC46FF6E3B578478C34DB5F0B789237D3EC58417287F768E40C8EA2BD32CB5A22F2E2294E255908607D6B99F881035D68EF771E0CB6CDE6291D71DEBCD954729DD9E9C69A8C2C8F26BD44F3F745188D5B9D83B7E3572FA4DBA45B27719FE958D26A2D23E580C9EA6ADDDCE1B4E806727935D2A273B92E868E932158EE813D70289669058AAAB8004CD9FC6AAE99266390FF0079BFA55D8D7789130396CF3594B491B4358A432DCB31F2E004C8FF00C5DF15E8DE1AD3563B74CB0321EB5CA69B6F0DBCCADD5DB824D77FA1C688EADD6B0A8D3763A209C55CEEFC3BA8CD05DA69F71217475FDD96392A476FA5159524C2DEF6D6E41FB9229A2BB28CED1E5679F5A1795D183F102CC69DE246BDB3CFEF42B4C83B37AFE358F2DC9D434F9207538910A9E3D68A2B9EBC5733675D09370573C66EF479EDEFE585E09C98D88E233CFD0D25CC576E23516B36071FEACF14515DB1D526704B49348B7A7C3731C47304A39279435A562979713F951C126E24E0B29028A2B29C56ACDE949DD23B04F0BEA3F61172A50C8A33B33C9AEAEDBC3FA9F87ED74EBCBEB94905E03BA2419109C640DDDF23F5A28AE482528C9BE875CA6D4A315B334EFA62D6EAC33C1145145688C99FFFD9 WHERE ([Id] = '3D874CD2-9F4C-44F3-8D58-0B6E1A1568ED');
GO
GO
INSERT INTO [dbo].[UserAvatar] ([Id],[Avatar],[DateEntered],[DateModified]) VALUES ('F7F2EB43-DB86-4984-B252-21633956BA52',0x00,'2010-06-23T18:09:41.000','2010-06-23T18:09:41.000');
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = 'F7F2EB43-DB86-4984-B252-21633956BA52');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F22B79AEA6D72ED0DCDC30491F6279A42FDEEE73C015AB7334D2DB044BA7566E410E416038C8F45CFE75CC5DDCBC3A85EA4671BE67DC7D7E63C569E9B1CD386999C853C647518E3F0A97B9AC5AB5876648D625FB5DD348CCC5BF7C7E503B75EF59F25F5D795B1AE2E125573B984C7047B735B37F71676168D0A387B9721DD80FB8A38DA3FCF735CF5C6A0F3F1B55547DDC0FCA9A14D242C975A8C2FB5EEAE810324798DC7EB56AD6E355666DCF74C8B8DC4C8C02FA66B37ED0E2412672DD79A71BC99D89691883D79EBDE991A1E85A54F732E9F2D8DE2DC2DBCA99F3109C86ED83D79AC9D4F40BFB3B79EE1752B9291AE71E61E3D8F35871F88F5086258E19D91473807BD68E8B7F7B7AD224ECD2C6CAC08278345CAD1995637F78DA85B2B5DDC106550479ADCF23DE8A411476FE2248626DD1A5CAAA9F51B85141057D470354BAFF00AECFFF00A11A8D6EE6550AB232A8E833C56D7883CA92478A1B18A3D923959D410F2F3CE79E79CD73B5317746B520E9BB31ECE589C9273D73DE9A013D05014B1C0AD5B3D3DDD3EE126894D450A9D37366511495BFFF0008CDF4DF3C70332FFB2326B5B45F86BACEB128D90C91447F8E45C7E953ED636BDCD3EAD52F648E3844E5378525738CFBD6FE870AC30BDCC91878E3FDE124E3181DEBDC3C35F0A748D2EDF6DD41F6A95BEF33FF00415E43E2ED36EFC3977AAE9C4F9503DD6D48FA164EB9C7A74A21539F6439D1F64AEDEA72F67234DAC5BC8DD5A75271FEF0A2934FFF009095AFFD764FE628AD0E636AFB33EB72AB1D882528B23025540EBFD6B3A4D280D656C63944A18A9F300C70403FD6B5DEE67D5AE86950C31B490DC48E88063CC393924F7E07E95A30E9AB05C5ADF330CAC611C1EC471585F96E8F42495549983A9D9C1A6DCAC4232C456CE85E23D1ECFE4BFB49719EAB83814CBDB55D76F711B80DEB5358F80EE45CABCB6A6E22073C3E3F3ACDB8356916A3513BD347A7785BC49E1D7917EC7730B03FC2FC30FC0D7A441A958BA0DA631DC6315F32EA7E0FD4AD6592FCC31C30B3E54636951ED8AF47F1768BAA69BE0BD1DB4399C19462E6E1989651818C7EB59F2D9FBACDEFCCBDF5AF91EC96B2C13B001D413D326BE45F1EEB8DE20F1A6A97A788C4ED1C43FD953807F1C575779E1ED4B40F0BFF00C254DAFDC5D189963D87705F3D8F01493F300064D79948ED248F239CB392C4FB9AEBA6AD13CDC43F7AC4B607FE26769FF5D93FF421451A7FFC84ED7FEBB27FE8428AD0E73ABF08C79F1F4B211C442E1CFE447F5A9B51BC1F60DCA7AB30C7A1CD76F7DE12B0F05E9B7D7DE79B8BEB9560D21180A09C90A3D2BCB2398DD2CB09E4EE2EBFD6B9A4F9A5747A14E2E14D264BA35D986F55B3C935ED5A05DC66CC391DABC2A35305DA11EB5E8DA7F8860B6B1F2FEF498C102B1AB1BBD0EBC3CD24EE3F58D466D7B59B9822DBF66B760ADF37248EB815ED7A4C483C2F6513A874750A323382057CAF1DB6AFFDAB2496915CCBFBC2C0A03CE4F7C57D27A6993C37E0D5BDD66FDDD2D621733C6EA06CC2F0A3D79E3EA6AE3169D9113AAA51BBD353CF3E3BEB70DBE95A5786602AAFE61BB9910636AE0AA67EA4B1FC2BC34D6AF88F5CBBF137882F357BDFF5B72FB828E88BD1547B0181594C315D695958F2672E69364FA7E3FB4ED7FEBB27F3145269FF00F214B5FF00AEC9FCC514C93D6BE21EAF3DEC66D608E470383B549AF328ED2FA29032DACE08FF00A6668A2B9A9AD0F42AC9F316CDB5DCACAE6D6607FEB99AD1974E9E5B78CBD8CA5D470E80E7F4A28A52562A9CAFB9ADE1EB080EA30AB69DAB432E36B4B13B229CFEB5A3E3FD46E6CB4D1E12D366BEBBB6DE259DE505B601CAC41B1CF3C9FC051455525790F15565ECD44F377B0BCC7FC7A4FF00F7ECFF00854474FBDFF9F3B8FF00BF47FC28A2BA0F309AC6C2F1751B6636938025524F947D47B51451401FFFD9 WHERE ([Id] = 'F7F2EB43-DB86-4984-B252-21633956BA52');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '5B7E8B0D-BE53-43D3-9D96-596181B03C53');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F0087E33F89350B76B5D26D2E4476D32179420C484A9F5FEED78D1BFBD1D2EA7FFBF86BD37E375AA45ADE9D70320C90B0607FDEFF00EBD7974E36702A4D5A25FED0BAFB293F6C9F7EEC7FAC34F8EF6E9623235DCF9E8A3CC3FE359A3938ED56D013B76F007534312D477F685EEEC0BB9CFF00DB435BFA54D77306371248EBFDDDFCE7F3AB5E1AD33FB5EFCD92B46D32A86219474AED65F86BA8471EEB240CEDD707B5613AC93B1D34E836B98F3F8A59CDEB2ACB7214E46C763915774BBCBB824E6E268E785B2092723F3AF60F06FC308B4F9BEDFAABFDA6E7AAA91F2AFE7D4D727F103474D1B5CFB4C11AA0249207423D2A7DB7BC9772E34534F5D51E9DE19B9371A3DAC8D2A48CE818951807F0A2BCD7E1EF89EF06AF06982447B377202BA7CE8082739F63DA8AEA4EE8E49C6CC5F8E96824B3D36F03AE61768F613C90467207E15E29239627B835F4178CBC0E758D265D48DD3C978222E55C02A48E70BFDD1DABC13C9679CAB28539C118E86A476EC578D8852A0726ADDB463712E78FE11EA6A2F2F6CC70738382456BE95A54BA84CC91282F8C202334A524870836EC8EA3C0B04567E27B7D62EDDE2B450D1B4BB495DC4773D857D1B66B04902490BABA1190CA7208AF1BF0E7C3CD42DEDEE1AED1D65976F94C2E0848C0EA0AFF00167F4AEE3E1F5C4C64D434B7409F63930A17A60D7349A72BEE7572B503AEBDD5AD34E0AB2179267E12085773B1FA0FE66BC8BE2C6A04DE6991CD6AD03CAAF232B306F40391FCABA2D77C33E21D4FC45737135C5C0B3F2CADBC367208BE7C7CACCDDEB83F15787750B17B48B56B992E66B7B32CF390480C5BA67BFD69DAF6B8A3EEEC6FF80B4FD3D585C2283305C824F43DE8ACDF8717EE9A9985A0924B778F9987FCB23D81FAD15D10D8C2AFC47ADFD98796D04987858608EF8F435F37F89ECF4CD1F5CD42CADE0966916468E499DBE589B71385C753B71F4E6BE9A6183F8579178DBC22F3EA1770DA441EE259FF00B4ADD58F13606258FEBD08FAD5322278CA20692454CED3D4D74DE17B992C35CB670A5909C9E3D2A3BB834F892036514892BEE69E37FF00966776020FA0EF5A5A4A2092371C3A74CD73D47A3475518DA499EEF0EAA936813DFC2A2431445C22919240E9585F0CE5737FA9CB78D8BC9487751C800F20561FF6C47636F1B4B622E189182898C7B935D7683ACBC36C1ADF456F2D98B8956450AD9EDF5AE7A69B773B2545CA2F951DA4932A465CF15E39E2D96F7C49ADDFDB42A56C6C190DCB019273CFE381CE057AA5D48D344005DA4E0907B5713A923683E235D45816D3EF306F140E6364E8F8F4C1E7E95D3157F78F3D34B413C11E1F16514D7070D0CCC1A238EAA01C1FD68AEAEC20B780C86D9542CCDE69D87E56C8FBC3EB456E95918C9DDDCB4E707A16F615C678B7C59A6E8A5657686EF508437916B13025588C65CF61ED5E65ACF8BF5FD52496DE7D527F2B257CB8F11823F0EB5CD32BC6FB8839EF9EF59CA7D8D234FB97B4281F56F12C7F6B21A4B99CBB81D324E702BD46F3C156AF75FBBFDD29EEBD41F6AE1FE1B69B2DF78AE372A76C0A6463FA0AF49F10EB22DEF52CE1F9AE1D82AAAF2735C955EA75D14ED622D2345BCB3BB10CA16EE11D248BAE3DC76AEDEDE0B2840D96C1641C8F971CD55D16C8D8DA2F9A7333F2E7DEAE5D360A9CE18720D4C1F2EAC5524E4F95093BB223385DCD9FC07B9AE4B57D3EEB5ED4DB4CB79156DD02B5F5D37707E610A8F43804FB639AEBA39048B91C1EE3D2B3A4864D3F509AF625325BDC60DC46A32CAC0603AFAF03047B035E868D26B638B54ECF72E595A259C290A3330518DCDD7D7F0A2A68DD645574219586411DC5154433E77934C93ED2EDE5B72C4F4F7A961B09AEAE043244CA9DC95A28AE367A114771E19D34E81A6DE5D5B6FF00B55C10B1A750147AD68E91A25CC331D52E06FB961905B9228A2B9DABBD4DDBE55A1D0D8DF4B33EDF3307BE4568DCC40C5BE498F1E805145524AC632F8958CDFB632C83C99199BE9C56B5B34D345B9D467DA8A28A552517A30AD08B8DEC4A89B780001451457A479C7FFFD9 WHERE ([Id] = '5B7E8B0D-BE53-43D3-9D96-596181B03C53');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '8F620F92-BCAE-4DF7-8A18-6B8942202C93');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00E4BE2B78A66BBBBB2B2B6B8915620D238462393C0CE3E86BCE3FB4AF87FCBDDC7FDFD6FF001AB3AF5C9B8D6EEA463921CA8FC0D53B68FCD72CDD050DF51A5765FB1BC9D6457BABBBA2A4F0A246E7F5AE8DCC0F22B5ADDDD45328CBDBCC5BE603A91935BDE14D2B4CBF8905D428E78EA2BA1F13E87A569FA68BB8EDD11C1C090F279F7AE59554D9DD1A0E296C73927865F51D196FAD6E6E559B850B211935CC5CE8FE27D0A317F7297125AA9F99BCC2C147BD7AFF008326D2B59F0CB69B1DC812671F21C30FA517FE05D56DE4BC96D351FF00896BDA489259392C1FE438C67BE79A509C96EC2AD383D91E61E16F19DE68DAC5ADFC372C76B81246589DCA7A83DB18CD7D5B1CC2445913055D430E3B119AF947E15F85E2F1378C6D60B88CBD95AE6E6E94F42171B54FD5BF4CD7D5608ED803D076AEA8AB1C2CB2AE7DBA7A51512B515423E1DD4C7FC4CAE8FF00D367FE66A3B72FB8460E0310707BD58BCC1D5EE8374F364FE669887F751CA00CABE09FC2A1951476FE1CBB7B57439F96BB6D4758D2753B18AC75062724158D412C4FA8C579669FA864A85603D8D769A5DAEA77D2466CAED61907DD2715C738D9DD9E9D29A92B1D6F83D7C1F1DC5BA59AF95750C85977F043118FD6BBFD42F96D2D6491CFC888598FB015C9DBD9F8866812DF595D3EEADB18DF1C415FF161CE699E3CD452C3C05A992FB58C3E5264F396E052EB643A8E2B5471FF0006EEA6B5F185CC706C9ADAF91FCD2072854E54E7F1C57BF06AF98BE0FEA09A5F8A98DCCCB1433C4630CCC00DDD457D2904A245041FCABBA1D8F327DCBAADCD151AB73455907C4BA892355BA23FE7B3FF00E846A0591D3705380C39153EA2D9D4AE81FF009EEFCFE26A0C47B4E490FF00A540C5F398B86E01F51C66B6F4ED62FADCAB453B02BD2B1A288B4A8083835D769BA643BD03A75C75ACAA5AC6F479AE759A078EF56F2FC9689AE0F6C5733E2EF15DFEB1753595DA8820887CB1839CB7A9AF53D134BB3B1D25E658D7784C838EF5E61A978666D52FEF409552E10EE19072D935CF09454AECEAA8A528DA27296577079A16F10CB1918C21C1EB9AF7DF8653DD5959AC6F75E6D8CEA65459A4E601D06093D09E31EB5E0B6BA05FDCDFBDBC3133989B6BBAAE550F6CD76FA4E9DAEB5F44F71A64B2184C6A0B03E52E0F1C0E08E9F4AE9724A57B9CAA1271B347D228DCD15044EC557795DF8F9B6F4CE39C515B9CE7C61A97FC84EEFF00EBB3FF00E846AB7BE2ACEA3FF213BBFF00AECFFF00A11AAE091C0352068E99049725D93E668FE63F4AE9F4B965B8BC8E30395F4ACBF05CD0C5AB4AB70408DE06EB5ADA55C0B5B89A6887CC4F15854DCEBA3B267AB691138D3C2DC70A47434DD4348D2B569C3DD41FBF55C6F42549FC475AE146B9AA33E10B62BA2D2EEAE6641E7CA7A74CD73F2D8E9523474FD06C74B69059308837DE19CD4D1EBCB6778B01909ED9EC2B9ABFB99EC6F8C8AE4C6DD4566DCEA71B4A1CB73D6972EA1CDDCF6AD32F16E11591F39A2B89F0C6BF146A837839E3AD15AC64D2DCC6704DDEC782DFD85E36A374CB69704199C82226F53ED4EB3D2AEA4970D6B30CAB1C98CF614515D670A25B2B1BB4901FB34EBC63FD5915D25859CAA46E8A41FF00013451594D1D1499BD18688051131FF80D6BE9E9204CEC6FCA8A2B9DA3A531DA95A34D0E761CFD2B84D4ECAF2390EC86423D94D145553DC99EC269171A8437B0A7913E0B81F70FAD14515B72A30E767FFFD9 WHERE ([Id] = '8F620F92-BCAE-4DF7-8A18-6B8942202C93');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = 'E282B2B0-B921-42FF-89B9-6BFF488DD63E');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F005F1D2CB1DBE9F2876541332B60FA8E3F91A9344259705CF00639ED5B7E2AD3D2FF00409E1DCAB30C490E4FDE65E703EA335CCE8531308E0E463A8AE7C61D7963F76CCF49D3BCB7B703F8B155753B5DF9C7208C0FAD72E3C7DA2E8D23A4EF34EF19C379237283E99AD4D33C6BA7788449F6186E0141BB12478AE6927ECF53B62FF79A1C5F88A19AD24DCE5D53924E715D2F81757B7BBB0934B8B7EFB55128727224472791F43915C478A9B54F196A77D69672C36F6762A5E532B940CDD9738E49F41F8D747F0D2D1B4FBB96CCC0887EC6A65E4921F764633DB07A7AD76616F18A4CE0CC2D3BBEC778E871D6AA4A8D8EB5A6E955A58F8AED478AD1853C6C587268ABD2C7CD14C48B97768B38493686688EE00F43EA2B9C96C7EC7A8C4D318D85D264F9630B9EE3F5FD2BB255E4D73FE29D325FECEFB55BEDFDCB6F6183B947B7E3FA5706268393E789EC60714A0BD9CFE5FE44917836C9A0B8582DADE54B984C6CB32060AA7FBBFDDFC2AF683E1F87C3B656D6A85094CF2100E3D2B3741D758C11873F78706BA0BA9DA5B71347244B228F97CD276FE38AE34DB5CACF49C6CEFD19E7DAF58C3A0F88A549481657ADE603D8356BF879026B22450007531F1F4CFF004AC6F88577ABEA3616F069F1C32444049678A3248F5033EBEB9A6FC3DBBFB5DC5BC31B31FB3CEC8C49CE76A1CF3DC722BAB0F0F7948E5C64FF0074D773D25938AAF227157994540EB5DE784CCB963F9A8AB12AFCD45324BA839AE57C7DE308FC35A5ADADBC31DD6A57988E281CF0A18E37363B7A0EF5CEEB1F17614BB7B3D0AC4CD22B156B9B91B5063AE14727F1C579E5E6A33DC6A6BAAEA1334D2FDAE296577FEE861F9003A0A56B9BC62D495CEEDFEDBA0CA59A3325A1E64039F2CFB7B7A1FC2B5EC6FEDB51BC0E2F658CA440AAA81D7F1EF53E94E6EF4D686E1CBCD6D34903B9EAD83C1FC54A9AC1D5349FB0DD8B8B29CD94E07040CC327B11FC35CB5B0AE3EF47FAF53DBA75B9B4668F88EEF4E9A15B79D352BF790796048C56253DC92303F9D72BA3EBF17817C405AD2333E989006BBB7277342ACC06E43EBD0E0F5E6A9F88356F14CC21B730C7214F98791FCCFA573F892CF41D45AE97FD22E54F987DCF41F85561E0DABBD8CF11153D2C7D396B756DA85A477767324F6F200CB221C83FE07DA9645AF9274BF116B1A1CB1DCE957F3DA4A06D711B7CAFE9B97A1FC6BD3B40F8DF740247E20D35664E86E6D3E56FA943C1FC315B267952A32E87AE4ABCD158BA6F8CFC39AEED161ABDBB48C388A46F2DFF00EF96C515660D34CF9F7CD58B53B92E0E0C8C323B7356E755B9B596307875201ACB9E4C6A373FF5D5BF99ABB6F2E5719E942D8EA9C75B9E83E04D65A7B6B73704EEBA8844E5BBCD17CA0FFC0931F8AD76A7469FC43A7CCF67216812536F2BC0E9E629FE2C6EE38CF39AF2CF0DDB2EA3A6DDD9453982EEDE43244E3A8DF82AC3E8C2BBDF866FE6DEC56FA7B5C59B08D85DC292FCA245387DCA7218F7CF5ADAEF9743A1DF96E8AB2E83A1F8735D863592EAE24800696DA79FE47046033E307E99C8CFA5707728756B8318B7610CB2928A33FEA8B10ADF9576BF14A5F3B50BC834FF00DEDCD8C045D5CE3A3B0E235C719DB92C3A74EF59568614D434E96060617B45543EAB818A70B30C3B936DC99E57A842609829001DA3A53964CAAA94C71D318C549AC3A8BBD9BB2D1C8E840EBC311554C8EF20795CB374E7B003005733DC8687DAA81AA5AFFD764C7E628A4B520EA76BCFFCB64FFD085159CB71B2E5D5A5DFF68DC30B59F6995883E59F5A9E082E948CDB4DFF007C1A28AB4C4D5CDDF0C8BB83C556E5609B6CF1344DF21FA8AEB64BEBCF086B579A844D35BCF7518CF90824F6CF4E1BA5145635AA4AEA09E875E1E2BD936D5EC5FB1D426D5BC16C6EA075B89A471BA48B636D6FBCE7D58F4CD73FAC5BE94FA669B65A5497D025BA94B988FCC5B9C8C3E32075E9451461EA4E752CDE88B9528412696E79CDED95C89248E2B29F68998A91193C678E6AB359DF31FF008F3B81FF006C9BFC28A2AE4F538DEE4B63637ABA8DB335A5C002542498DBD47B514515249FFFD9 WHERE ([Id] = 'E282B2B0-B921-42FF-89B9-6BFF488DD63E');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '4250EBC2-27A3-42EF-9F93-7EDB7E88105A');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F474277F5AA3E209A50B05945D4FEF24C7E82B4ED22F327E7EEAF27E82B94D735359EEA58EDDB706277C83F8BFD91E83F9D2C4D4E5560A31BBB99F3DDBA7EEA290B127E77F5F61ED5A1A4079245FDE10A7AFAFD2B362B5908F31F1CFDDE3F9568889A08D20889134C428C761FD2B813B33AED736A5B386EFF7D285F222384CFF0013546DA74C7FE3D23407FE7BCA9BB1FEE8ED5AF690A4702C614148D42A823F33560943C85FCAB4721C69F732F44B8BAB3D7E3B39A5320B8439E07047438FD2BB20A7DBF2AE365C2F8EB47488E1FC96671EC48AEDCAFCC6BAA8C9B4D339EB4527A0D51CFE1E94548A0515ADCC8F3DD76EE4B7D356D206DB25C9CB9F441DBF13FCAB8E175711B8F963F9B213E5E703BFD2BA5D6C33DC3C841DA802F1DF8C01F993581710B4574E5C64840AA82B82B3E69B6CE9A6AD148B76523C81A595BA0CEE352C8F3D9DBCF7914425B855DB0A9E304FA9FD4D576B88AD2D95E6209CE55179C9FEB5D16852C72DB6E980F9BB7A5649AB9D118371B98BE1FB6D761BA24EA0B716EC46501DCA09E4804F3C558D73C41ABD85E1B4B0B03232A97795C7CA00EB8F7AE91AF6DA1BC8ED434509382A8C4293F4A5BCB3B596E56E248D1986083D6B5D2F71BBDAC67F84629B52D706A773E61942042645008DA3A63B726BD040AC6D1EDBC9B99180C7CB93F52735B42BA28AB44E2ACEF2D000A29D456B7333CCB56B9FB2C52BA20794CA7603D01E809AE1CCD70F24D2CD210DC3337D6BB6BA46B995DE4C0CCA1801DB3DAB93D4F62BCB18032F279607FC049FE95C2D7348E84F95173C88EDECF749F315704B3739E2B5ECEEBCA883C2BBC8190B9C03F8D658065D1DD0FDED81803EB8CFF4AE56CBC4F71E1BD41A0BA8CCF644E57FBCA0FF003A8E53A613D2C77371E21FB732ADCE891CC548C1F3D0B29CFE62BA4B5BEB5BDD4EDF4D8A0F22E123F3A7858826319E01C71CF27E95E7175F12BC3250CD6FA77DA6F514F941A2C0DC07527D077ACAF843E2490F8AB509AFA4335CDE0F319D8FDE3FE15AA4ECDB155A91768C51F455A26D56623EF1FD2AD0AE5ED75DBD96E9DC888DA103CB5D8430FA9CF3F955F1AD4B9E6146FF0074915B46B42D64CE474A6F5B1B54556B4BC8EED4ED0558755345689A7AA3369A76679A9BA590EFE81A62473D80AE02F6FC1659C9CAA4D248DF82B91FD2B5EFF51FB32F0DF73838F538FF001AE2F4D0F7F6B3C4DF74875CFD703FAD73C766D9AD9B6923D1ACCB4FA424E07CC6147DBF81E3F5AE6BC59A75BCC99DEB1C28BBE598FA7A0F735D16872471694239E458D62458D9DCE3803FC2B9CB9D57FB7B5B852D1E25B38EE76C60AEE336DFBEFEC8A3233EA45637EA754168707AB696F630C7392B17C99301604AF4E011C1CE6AFF00C3A8243E248DC65428E4F41CF4A4D5DE1D7358682CD8B5B24AF2336DC02BDB03B0C74AEF741F077F6778645F5CAB2C970E1A50A70510F0307B63835A4E7EE34D6E650A779A7D8F4CB7B7FB3DBA47D4818CD5D80AA751CD676917D16A5A64373096207C8EADD5597820FBD5E32A16DA719AC5348DDA65EB19C25E8EC18628AA5BB6C8A41E68ADE156CAC61529733B9E0B7B7734D6D23797202254FE139209AD9F0B7872793444B86F2E35662E4BB631CF4F6A28AA94535633849A77456F16CD298E0D2EC774A44A3CD68D090F8E319F4E7AF4ADFF00F847ECB48F0988744BC53AC6A102ED9675DA4293F376F9067381EB451594928AD0DD36C4F87BE1286EF50BB9AE22568524084E301F6803F5604FE55EA3AA69A25D0EF2D2C15239E48596224E02B118068A2BA2314CE694DA6739E063A85A437763ABDC79D7E87326D185079E9D3278EA060D7611B42D38768103E7EF00334514422AC136F98B6F6E85BEEAF23DB9A28A2AF9511CCCFFD9 WHERE ([Id] = '4250EBC2-27A3-42EF-9F93-7EDB7E88105A');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '1065B80C-06FF-46BB-AF2C-809F5C885AC0');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00EC60F138874F92DE5E806066B83F125DBEA9231858A4518DD23EEDA147B9AD8D66C278C14453CF15E6DAF1B958DE2DD2080E14AA93F3C9B8019FA67F5AC91A19F26A52D9DEDE4570B24F1C8A56DC8720000F0C067B91F9565DC6B1A82B39226861623E40C7E53ED9AEDB4ED263835B6D3F5C8658F52491608A1084E5700EE5238E2BA9D53C21651D9BCF3A6E8BA8F34E318AAB8AC78D5CEA7767695BA90679DCAE466A27D42F31837738C9C8C4878FD6B435BB3B117722D84D1F9679D81B207D2B0E58A48CE58647A8AA4264DFDA57AAD83773FF00DFC6FF001AB7A66A5335F225CDD4E51CED07CC3C13F8D64F24E07269CD1BC63767A1EA3B1A047B7E816A53441995A4963B8E4B1E76918A2B13E1EEBA6EEEBECB20CB4D095EBD1C0A2A0B3E83BED32DEE216F91777D2BC875BF0E32789ADD55FCA02E6393A646370CFE3E9F4AF42B1F175ADCC67322EE07919AE6BC73A9C305F5B5C6CCAED0791C1C1A1891D6490DAE8A4CB717867933CC922A82C7DF03F5AF9F3C73E2BD435FD7E78EEA6962D3A172B1C087686FAFAD6A4BAA788B59D79244BD4BA7B9955FECAC70888D20503DFAFE15B1AF691A245E38B9334082DD24D9B1BEE8EDC50079DCFA0DD3EA91D847A5B46E40393C7046727DA9F7FA59D34F93290C48E6BDC0D85858E9ED25AC71A82BF7947247D6BC6FC5D334B7CEE7A76A13B8EC71CC812F0843819E2AFBC68346779301F8DBC609F6AA120FDE6FCF7A75D5DCD7488242362F451D33EB5641D27C3CD5A3D37C43099977024EDE3B904515CE694C62D5ED1D7B4CBFCE8A4D5C699EB9E29D16EF4DB08EFAD26277390C33E95D747A6C9E25F095A5CCDB4612B85D5F579751F04DDA099BED16B779E3AED3C5743F0CBC4B15D697FD8CF2977C3A8563C838CF1525195E13B38345F89569697E6378A4DFE4090003CCEAB83EB91599E38D76FCEBF7D6EDA5AC0652D96947CDB73DBFC69FE3AB079268AE212EAF0BEE0E3AAF707EA0D4F73AAB78A74782E9A6B7B59A08DFFB46EDA2F31E3DB8C6C1EAF9E3F1A005B6F14FD93C3F6D6B233493040AC49AE2BC4978B3DD0D8783CD69DA5A58CCAF736F15CCC8BFF2DEF0F27DC0E82B95D5655F3D829C8CF14D6E26F4293B65B8ED562D74F9EF0E235F917AB76AD1D13C2DA86AAEB2B44D0DAE7264718DDF4AEFAD74586D62485542A28E829B7612479FC1A4C96F7F6CC73C4ABFCC515DCDF430452C4235C9DC3E63450983459F0D6910DCA6AF15C0C99836D1F8D733A2473F86FC696D3A06D914E0B007B1E2B527D664D1F58B829FEAF76327DEB2F5EBD9AE35413DA329F31549E3A715251E917BA9E97A95D18D30DE723A107B362BCBEC2FE5D035862A81A273B658987CB32679523F97BD436D79736B78249B721CE49ADFF0AF86A6F1FF008DADF4E6631D9C49E7DDCABD4460F41EE4E053481B2CCAD77E30D6DB48F0EC68F139E180DB1C29EAE7F840FCEBB2D3FE1768BE1C8C5C5C4C350BEEA65953080FFB0BDBEA79AF5292D349F0DE96B63A6D9C16B1018091A819F727A93EE6B89D4F5013CF82DC0A4F4D04B5303527310C22E17DAB12595C9E2BA2B975913900D669B3003C8DF80A4339ABB62268C93FC63F9D149A90DB75181D9C7F3A2A909999AC5BDC5E68379751DBC8592E42FDC39EFDAB067FB71FB398ADA7521006FDD9EA28A29A1366ADC13796015A0956751FF3CCF35ECDF0874D5D03C0B3EB53A14B9D465382C3044699551F9EE3451406E3B5BD7649E4739271D2B90975295A5276B7E545150516E0B866C1656C62A3B9BB773E5C48D8F5C514500605F5BCED708C6363861D07BD14515484CFFFD9 WHERE ([Id] = '1065B80C-06FF-46BB-AF2C-809F5C885AC0');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '1DF98372-BDA8-49FF-902E-8431925AECA6');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F15BDBDBD5D4AE545DDC0512B003CD6E993EF511D42F7A7DAE7CFAF98D525FAE751B9F947FAE7E7F1355C4277F340EC385F5F16C7DB2E07FDB56FF001A6B6A17A3FE5F2E3FEFEB7F8D3BCB39E29B6F6B2DEDE793146D21F44A4DA5AB1A8B6EC8726A5723EF5D5D37FDB6614B25FDD0195BEB9FC656E6B523F096B05E38869B77BDFEE811120FE357E4F871AF8B192E0E9D347B0648718CFD3D4D67ED63DCDFEAF52D6B1CBFF68DF7FCFE5C7FDFD6FF001A4FED1BEFF9FDB8FF00BFADFE3503A3452346EA55D090C0F6229B5A9CC68D86A17ADA8DAAB5E5C1065404195BD47BD155F4FF00F909DA7FD764FF00D0851401AD7B1E6FE738CFEF1BF9D43E4F3F4AD1BE8FFD366C7F7DBF9D44179A4515767CD92314FF000F6A16DA56ACF7174CC220482AAB9279A95E324FB5518B4F5B8B9742C573DF19A89D9AB335A3CDCD78EE8F6DD1FE2C785608151EE278CA81C34048FD2AEDDFC57F085E6D8D35195589DA19E06001F53ED5E5BE0AD2742875BBE87C43342B09B3758FCC078623EF0F71DAA4B4F86AD3BCC05F6F78483B044D8653D1B3E8457338D25A36CF417D61B52B2B9CE78C23893C4D76D0EDD8EDB863BE7BFE3D6B06BBAF1CE8F6DA4E97A718C27992C8C039E59D54019CF5001E00AE16BA693BC133CFC4C396AB459D3BFE42769FF5D93FF421451A7FFC84ED3FEBB27FE8428AD0C0EB6E82FDA25E324C8DCFE354DBEF7B576BA0F826E7C4724F7525C7D92CC485449B77331CF61E9EF5BA9F0A74C68988D4AF1DC3156C051861D4631571A727A98CF134E0ECD9E559041E71F4A4B560975BFB8C1FAD77FADF80ECEC202D668E5F1B77CAF9FC715CED8F86EC629D6E6FEFC08946D642FB7E73EA7FA0ACEBC3D9C7DE66B82AFEDE7FBB4FE7FD6C6C787ACA193556BC6915FE6CC2FB8A3479ED8D8C0E2BAABEB696DA45D46F6F9EE65D8540DA06173C2E4005B9F5AB3A34FA2416CB169D790C6B0A609DC0923BD5A860B4D7C8BD8AE5A66B76C08C91B338E0E2BCA94EFBA3E915ADA6E7CFFE25D4EEF52D627173333AC0EF1C487A22EE3C0AC7AEEBC75E0ABBD3AE63D4ECAD667B5BB52F2AA7CE6197277038FE13D41F7C570B5EAC524958F9E949CA4DBDCB1A77FC84ED3FEBB27FE8428A34EFF909DA7FD764FF00D08514C93E97D127861856D93851182A3D637FFE25C11F8D6BE96DF686BC9FF8657438F46F2C03FAD71F32496645D2A3F93148C5594F3031FBE8C3AE09E47A1FAD6E7856F7CFF0DC731C892592476FC58E3F4AF4B95289F31ED1CEAB4FA147C471EA9A6DBCB73633417670C00BD07720EDB4AF5C7BD789EAD25E5E4311BC9D84E848919B8193F747D31C57B4F892F271A7BF94012491CD78EEA96D7B7CF299A2C056E00ACEB525282F53AF058A74EB493DAD6BF5FF008633F45D3EF6E2FE3850360B60F35EC1E0E88E83AB5D692C1D4322CAA24393F30FE55E79A7E957A63B7486F24B790B05668FEF73EF5D4DAD85C683AF584B2DFCB76B70842BC8C4950A718CFE39AF2F1584A91A6EA3D8FA3C066942A568D086EFA9E82643677072B94277819EA3B8FF003E9591E20F871E1BF1407B98A21657928DDF68B7E01F764E84FAF4AD7B802F2CF7467F78BF327D4558B1D463B8B7DC8AB0B670EA7801BD2AB2F9A9C5D37D3FAFEBE473E754A5466ABC367BFAFF00C1DFD6FDCF09D73E1D6AFE14BEB6BA94C77561F69451710F6CB0C6E53C8FE5457BCDF5AADFD8CB6B76AAD14AB838E3DC1EFC8201A2BAE746CFDD3868E3138FBFB99B7769770E937ACC59DFC861871CE31C0DC3A8F4C8C8F5ACDF0948F1E909032B0DAB8C1A28AEA5B1E5CDDE5B7F5F91A1736DE7238652735C95EE90479AC23729E66C2547238CD1456B07D0E4AD04DDCCF8B4F92D5D1116460060315E79EF5735D77306952A44D88662846D3C023FFAD45158E2D274648EBCAAF1C64277D6E759A55C3346A181E9505DB4916AC059A0F3197F7AC5721476C7BD1457CBC5B8BBC5D9A3F469C2335CB3574CBF1FDA76A83BFDD9989268A28AD2152A5BE27F798CF0F45BD60BEE47FFD9 WHERE ([Id] = '1DF98372-BDA8-49FF-902E-8431925AECA6');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '614B9FE6-EF56-4F01-854B-8C87939E509E');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00E2B4AF135D59F889DD59C957DB8725863247E157D6FAF0DAF950ABB31937C9216FBCC7A1C9EA0575A3E19DBC124978D73FEB18B06518E0F349A9E9505C4506922E26DFB0B438C2A5BE06540E33CF7F526BCBC362A9CA4E505A1B50A13A9193DAC70D2DB5F324E64B999598EE3873C8F415ADE1F8C45289A495CC84F00B67F0147873CFBABA4B79FE7883636EDFBD5DEAE85A741319D2D515B1FE715D739D8D6952BEA5DB691DAD972707152F98548C1FAD2456EC507CCA98F5A9D2D8F76CFB8AC7DE676AB124403633CD5936D1CC3638047B8A8E1870462AF44BD303A55C53224CF1DD6A27B0F145EC116E10ACC028CF0338E28AD5D5AD5AE7C453CF697513ACB29768E538E41E828AC2388E66EC7952937266F5DEAE92DAD8992E8A796ABB947191D0D6A8B0B58AE21BF5DAF23C3F3119209EC4761C5795CDE7BDDAACB2BECCED1C700576FE17792DFC360C92BBEE91CC418E76AE7000F6E0D6586A4A92691D183AB2778F42ED9DB598BAF30428921E8CA31562FD6611308640AE7A738AA792B3A38C9FEF1C56AC5731360920FA6EEB5D3B9D7176D0E135293548A5045AB4BCF245D1527F02306B38F89359B3951238AEADD8F51285917F315EA17769677907EF95481DCD61C9A769333F971A2161DFFF00AF4ED62F92FAA2EF87F5B96E74F33DE055DABB99C7000ABF078AF479B7449707CC3903E538CFD6A9C5A77DA74AB9D3E2F943A00A4FB1CD72B796169E1AD674DD17124435E8E48C976CAC322E3CB61F56383EC6AE2A5632AEF955C92E26B495F64F12EE27E5603A1A2B261BD96C7501617D6852E227D8DBBA8228AF3695370BA3C9BA6759A7781EEE167BCD622305B67E4883FCF331E80FF747AF7A5D4963B244862409146000074515DEF8AE5641A7A8FBAD3124FD14E2B82D64ACA24CFDD20F35E84E1183B23D1C2D34A0DAEA655DEAF146E14900819E78005578F53B8164B3C43CC9253F26FE849AC4BCDEEDE592490383DCFF00F5EA7D1E56305BAB90DE513D4E7350E26D095DD8B30EA77DA806696E5F2A4A981C6CDAC3B63A568697AAC56938B6BE8301BE68E71D47B1F515B3688915C7DA21F2B748312248B947E319FA8C9C569CD0E8E96CF3476F7303042444006563D8735A462DEC6F76B4239757B6D2F4B9B519645110DA8A73F78920003D6B8BD77C4D77AB78FF004E3A142B3C9656E6272D80A0B3038DC781D05616A0B25FDF4935D3C8F1C6ACF101C22E01E476EB5C5CBAD5C4B70874D91EDD133246B18C7CDEA7D4FB9AD23194AE8E6AD5B9648FA62DCEA7A9045D63C391491F762F1B1271D47345623C5E27B0D12CAE60BE7BB9A18E11730AC60B6E64058E073C138A29B6AFAA21D38CFDED0F42F105A9BAD225DA0978BF7A98F6EBFA66BCC7511BD038191D6BD83DBDABCEBC45A5FF0067DEB4417FD1AE32D09C700F75FC3F952C443ED21616A6F0679BDFC0C48284820E41FEE9ACCB695E0BF532298875240E0FD2BB092CC2B90CB91D3E950FF6644F95745607F2358C65D0DA74F5BA342C25FB4DA0471C8E84F5F6AB3709753A47A7C2CE67B9610A1CF0B93D71F4A7F86FC3935F4D72B05E7942041CBA6EFC339AED746F0EC7A5DD8BA9A6FB44E170876E1501EB81EB5D30A6D93531114ACF720F107866C3FE106BAD2E2B607EC968E6D9947CDBC2F5FC4F5FAD787783BC33A7693A8DB4BAF46F793AA1D9A75B00D93D4176CE00CE3FAD7D2EADFBD1F4359D7DE1CD3EEEC258ADED60B699DBCD12471853BFD4E3AD6EFDD5A1C09F334A4F4391B7D5628209F50DEC9AA4C5A49224076331E833DC01819E3A514DB2D3DC5D491DDC612743B593D3FF00AD4572420D5DDF73BEF4E3A6E7A3E322A96A7A743AAD8C96B3F1BB9561D51874614515D5BE8CF3EED6A8F28D696F740B8306A1685867F77320CA483D41EC7DAB0EE35D95B6C76566C6790848C6D249627028A2B99538A958F4A351CA9F333D73C1FA0C9A2E92D14E733C9CB927927B93F535B814ED53DF18EB4515D8B43CC936F5634021B3E9EF53C6484CF1E9D68A28908C5D7F4F6F31352847CF18DB281DD7B1FC28A28AE696E74D3775A9FFD9 WHERE ([Id] = '614B9FE6-EF56-4F01-854B-8C87939E509E');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '3595782A-49F7-4349-9B37-8CEB123232C3');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00DBB9402C55D776739DD9CF1EF592CCFE66189506AE4AC161255367CC0633C37BD40D1AF9F0BB7EF031F99076F6ACCD092460C63113C921DB8DAC7F4AA17377F668A57958A2A8F9B3DAAFC8AAB3B3ABAAB11B9027F09F4AE47C497F3DD5E2D85B219A6CF23B17F56F651C9A993E5572A31E6763367BAD5F5FBDFB369F14A231C840DCFD5BFC2B375F8357D1365ADDC92C6E577E43115ED1E06D12CF4FD29638A48E69C7CD3CA083BD8F39C8EDE95CFF00C5AD3D26FB2C9B47FAB23763DEB97DB3E6D4EA549356478B47AB5F2C9CDD4C71C72E79AE874AD626B393ED6AEED0C8364D133160BFED0CF4C573EF64C970A369EB5AB6F68F1AA061F24808615D0E5AE863C9A6A7636D379D771E667319E72A68AA3A302B6707CC77AB6C3F4CD15AA3067793E5230A58302D918ED50C92C821550D8556DC07BD3A4397FBA000690A171B40C93D855729372B4D39B5B09EF0804229EA7BF6AB1F0FF408350F0EDC5FDD26E92FF702EDD7CBC9E9F5E4D737E30BD363E1D9D0001A4E09EE31FF00D7C577FA3CE6D744B1B2B22A8C618F6F6CAE06403EB5C78867661D17343D01749D62796DA4FDC3420488A02AAB0E010071C8EBEF585F126FED26D3117244D1498395E0AB71D6BB9B3784011A2BA203F36F5C1CFBFAD707F13BC277336873DE594CA8D0B99F818623BE4F71EC6B9FE2776CDD7BBB1E791D8473CD044CA048A9BF70FE25CFF3A82F648FCF9224E3CB6038ED5917DAC8F2E396DA420BA0DC07F0B630D8F63FD29D6E4C88CEED99256FC7815D708D8E7A8EE747A4106D53D4CB9CFB5152D94491DAD9B2C81B7F240EDCD15BAD8E77B9DBCA36B311CD46B92B91D6AD4C9F3B74AAACDE540CFD94135D0E27346479FF008E3CEBCB6B91182638700E3D7BD7A7F84AE6CB5FF0C595CD94B1C8C90247344DCE1946083DC1F435C04563AA6B7098B4DB432799CC92BFCAA0924F53D7AD3ED7E1CF8BB470F3E9934314AFCB182E4A13EDD2BCCA8E2D5AFA9E9D2E68B4D1EB51CB716F1B472CF919F950FCC47E35C9F8F7C5034CD0AE6092757BAB98CC70C00E49CF193E80579D6A6FE31B262BA83EAD9FF7895FCD6B9D960D46F19E47826E996760DD3DC9AC63493776CDDD4664B00AB1C639287923BD6E598610990F61D3DBFF00D759A4476EAA13F78EE7EFE381F4ADD48C25B0E982428C8AED3919BF63F2C36ABE8AB4536C5F7083F0A2B68EC612DCF4A9D705B3C0EB5C1F89F590F7506970C842CD2A249B4F38240E7FC2BB2F145F8D3348B9BADA0B2AE114F763D2BCA7C231AEB5E35B54BF0CF192D3B10D8218720FE7DAB5C54B97DD473E155FDE67D0BA3595BDA5947146800500715A52EC03000A86C6D8B5B472C0FBE36E99183525DC52451EE28703BD78728B47ACA49F5332EA0CB1319C7B76AC2D5A159ACA68980195C11DAB5E6B918C83CD655E3F9A5F3FDD358B66A91F3E49018DCA6DC1499863E84D5CB89992D100E36F3F8714B7AEBFF090DDC27A2CACC3F3A8F50C6081D178FAF15EA45B6AE72C95B43A3D309F2A027BE0D14965F22C03FDDA2BAD2D0E46F53AAF88FA8ECB4163142D2C921CB6D5276D721E0E866B4D6DAEBECCCD210110BA1C0C9E4D145675F593B8A82E5A6AC7D0D672A436496B131F906C0C7AB9EF4CB8BC96004072A4704E73C514570CD753AA05337705FE3CFB61C8FF0058BC106B2AEB4FDC0B5A4E8E48202C8707345150E0A5B95CEE3B1E0DAAE9BA8D9F8A66FB45B30766663B3E603938E47155E686E994FEE253BB3FC068A2BBA09591939B6EE7416CB2A984189F823F84D14515D2CE63FFD9 WHERE ([Id] = '3595782A-49F7-4349-9B37-8CEB123232C3');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = 'A117436D-0970-4396-BF02-93DA7BFF6522');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00E1EE259E1B9958CCFCB1C7CC6A217B2BA1026700753B8D4779297B89777F7C81F9D4317CB940383DEB955DEE61BB3A0D0B44B9D619D96EE40898DDF31EA6BA1BBF01CFF67F36DAFE469D0676924035B7E08B04B7D020765F9A62646FE95D588C7515513D18534A2AE7854FA66AB0B3C5289B008C609CF15135D5CDBDB22C86452085209208EBCD7B94F6E839F2D49F5C735CDEB9A1DA6A71112C41640387515A89D3EA78C5FDEC919F2CCF3AB056230E793556C352B937C8A2E656623BB9C6DEB9FAD74DAEF8626809900DEABFC4B5C54B0CA979989BE646C7A102AB7473C95B43ADB2BD9DAEA3DD3498DC38DC68AA769FBAB98339CB32FF003A2B148C225C36AF717D26C476264230AB9C735AFA7F87AF0DDB24F67234413238C6E63D07F3AEDA3B3692E8DA6996A300FCEC3E555F726B60E9496F1F95E634B23AFEF1978C7D3D2B6A941538DDBD4BA11E69A1341D5ECE6FF4078DAD2EA2017C89060E31C63D456E9E0E3B57252E8D3DBDEC3716F3C86341831DC7CD81EA1BA835BAF7DE4C485D81723A56099E95B42CCCE71CF4ACCBB7C8D80726A9DDF88AE2DDC2FF0067493A91D612091F8567BF88209776E496090F4495769AD13BEC26EC63F8A268D6D8C79C007B7AD798CF6CAF3EE8F072DC1AEE7C471C9369FF00680D8C3723EB5C646C44E723017F9D3BD8E4AAFA97ED9419E119C90E393F5A2996AF8BD8FF00DF18FCE8A88A39627D226C6386C8C56CA133FA9AC759D6DFCC6988041C1FC2B6F52BF834F81A59A558E351CB31C0AE2EFA782EED60D56190BDAB8DE1D391827AD69889BB248EFC24356DA351A759D813903AF3591705E6BDDE8FF70F18AB4B24821906CF3811D47047B11595023C779110DB082776E3DBD2B38EC75345BBCD22DEEE26570EA5B0FBE26DAC0FAD673D9BBDAB5BDEC9F68543FBB95C7CF8F735D2ABA3DBE70063A8F4AE7EF675513107E94C892B1CF6AB0B5CA5BD8C7FC6D9623B0029BABF86B4FD3F41B972B99923120909E49278C568D880C7CE6664690958D9533C0193CF6AE67C5DAECB3DE47690AB7D9D143063FF002D3D0FD05369DAE7354708C1B7BB306DC38BC87038F317F9D1496EECD7B13B9C12EBC7E3451138A274FA9EA7A86B9A889EFEE1A4F2E464F28708BCF1C575FE0F767F0CBD9B2E7ECCCF1A8FF677647F3AE364C5BEA92E7EE48C7F3CD74FE1AB8685E785180666DD83CE4573A7EF6A7D6626928515CAB6676FE7E9F736A82FA2649C0245C40080E31C671D0FA8AE5B559E133086C52E6F1CF1BBCADB8FF811C7D6B4023C6C192E1D11F938EC69925C4368DC38795B9DC4D7423CA6D772BDB2DDC16D27DA30300679CE0FA67BD73FAD5DADBC2E4B0F97A9AD7D43536B9221B71B8AFA7407D4D70BE3559134B10A39694C81DC8EF8ED5105AEA4CDB6AC8EBFC3F0B830CC58EC75E0678AC9F16E96A96774553E6B671221FEEA31E47D3BD41E05D7D5F669B72DF3641819BB8FEED761ABDBA3DD5CEF456492D4020F4EB5DF4FF79171EE79D88A6E9BB33CAECE249A580B750E3F9D15A175A6BE9BA842AA77432B868CFA0CF4FC28AE2E5716E2FA19C3634AFADA5984A5627DC1891F2FBD2C2D74A22B98A390489D4018247714515CED1F6EDF32B3EA74D0ADDDFDB87B5BD0636ECF190C9EC452C7E1F95D81B899E4F61C0A28A69BD8F16AC2316EC599A04B380844E9D80AE5350D2E5BC72F2237B0228A2B55B183D59CE5B59DCD9F882248E193E49A260C14FA8AF59D5558C921009DCA063D8514576E0F739B307751B9CEEA3A6C973A6FCAA15A1224191E98C81F5A28A2AB16973DCE1A7B1FFFD9 WHERE ([Id] = 'A117436D-0970-4396-BF02-93DA7BFF6522');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '9C0F4F7F-A843-4EBB-86BD-97C6BA46D4E9');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F423A92AEE6660154649F415E55E31F1DCBACEA0DA5E9B266DE06CBB06016461D39EE056E788AEE48343BDFDE9567428B8EB93C715E4212E2088AC8A4AA7DD61C15AE39CEFA1D94E1D4DCB7D7EF23B9F31DAE04A980A597701F435746B57B72364ACD1A39FBC090EDF5C8CD6046D6F35B6FC3AC9D32B920FA7E357FCFD495532CFE50C7CAF181FAD73BB1D0A3266BDB6A1AD34886C6EDEE590E3C891C06C7A0CE335693C410BCA23BED265B7919B0E7CC7DD9FA631566DF4679B4CF3426D2CBB9483904D73975203BFED00F9D0B624523E6718E0FD47F2A88C948A9D3703D27C05E298E2D464D2E69898DCE6DCB1C9FA1E2BD27EDA3D47E55F35C37260B98AE23946558323F71E9F4F4AF6BB6BE92E6D219D4F1220619F715D34A76566725686B74751F6D19EA3F2A2B9C1712EE1CD15AF3A31E53CEBC7AB710BE9E8A7104D379648EB9FFF00552695A245736B202A092C7A8CF15B9E3DB26B9F0EB5C4632F652ADC600E70383FA1AE5C78B6DF4C2D04459DBD8715C3553BE87A7867171772FDB782EDD27732CA5633CEC5F5ADF834886287CB3327978C012906B8C9FC5379731968CED04715CC5DEA570D71BE6B89A67EBB43100564A2E4F53A9B515A1EBD6FA6FD8EDDD6039B793246D39507DBDABCCB5B866B1D56459D719CED6EC6AC687E31BCB66511C8FE5B7F0919535D6F8874D5D73C30D7A22D9346BBC003F3A12709599334A71B9E6FBB2CD193FBB61C7A835EB9E02BC3A8F8520DCD992DD9A16CFB74FD2BCAEDA07B658AF19821593084FAFAD7A8780E59CB6A11DCED32B3090BAA8024EC1B038C9047E55BA9AE6B1CB3A0FD93A8752223B85156D40CD15BA4713325C2481E390064605581EE0F5AF19F116897165A8DCDB86658907C8CA3AE7A66BD88B7CE6B91F1A424490CE172B22EC27DC565376D4E9C36B2E5EE647C36D053578753B7BE2CD88C796C3B373923F4ACAD47C3777A5DF98E5F948CE1BFBC0D6DE85E24FF0084611BCB8834B21C8CF6A7B78B13C46C6C67D29C5D03FB99A36EBFFD6AC5C9B7747A2A9AB24D95F42B5B1B4911A58C155E40C719AEC5B55B7B885A08900465DA47A8AE7122F2A3D92AE31C669B14C91CA0038AC2526D9AA8A4AC2C3A62DF69B71A424616317237384DCC8BD72A3D7B56FE9779A768DAD1D31E75177F674448F1838C9C0FAE073590EA54CCD0CF246F2056CC670722B91F1069B7963ACDB6AD686469275F9998E4E475FD2B5A4EF2B98565FB97147B92C99C11D0D1593A35E3DD6976D2C8A564280383EA3AD15D89DD1E435676644641B8D52D52D5751B092DF8DDF790FA30E94D69FF0078D8F5A5129350D5D58B8B7177479C6A32471068E7C26DE4EEEA0FF8D6758EA62C6E43C11C923F639DBD6BB3F136911CCCBA8A202C9FEB17D7FDAAE426B571306122AE4F00D6095B467A74EA29AE62CA6AF7C6E8C932908DD54B66AF35C062241C01548C56F04637CEAED8E82A8DD6A0A0048FF4A5C976373B1D158EA5E65FC6AC4902BA6D52CEDF50D124824214143B5FFBBEF5E71A74FB260E4FCD5A3E20F10C90E8E2DA27C3CE76120F45EF52A9B734A2129A8D37291A3E1AF8826CED20D3AF206B811B08E39D5B04AF419CF534570B62FF00E95020C7DF527F3E28AF5BD944F09CD9EC197321F94F5A9D5885FBA68A2B95A3A0866667CA942548C10475AE4B53F0E49BDA486E5238FAED941E3DB228A2972A6546728EC72AF697858831C98FF654F342D94F9FF512FF00DF068A28E547629324582E50E4412FFDF06B2EF45E5D5E93F66B8F2E35DABFBB3CD1456B420AF73971751F2A43AC2DAE85E42ED6D30CCAA4E633EB4514575A380FFFD9 WHERE ([Id] = '9C0F4F7F-A843-4EBB-86BD-97C6BA46D4E9');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '76561C37-2D01-4AC9-BF21-97F3243622F4');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F7FAF39F8B1E363E1BD17EC16326DD42F148DC3AC69D09FA9E83F1AF4491D2389A4760A8A0B313D0015F27F8D35B93C4BE22BBD4189F2E4726207F8635E17F419FC6A26EDA1D1878733E67D0E75AFAE9F9FB4CBF5DE6986F6E413FE912FF00DF66A6B8B6F221427A84DC7EA7FF00AD54B69DA2A133A651B6E5817D73C7FA44BFF7D9A956FEE3FE7BCBFF007D9A81202DC77AB36364D2DDC791F2F5FF000A1CAC38D36DD89127BA71FEBE5E7FDB35D87803C7577E16D6156E247974F99825C44C738F471EE3F5ACEB8D13EC9E5286CECC33FD7AD66C1A65CCEECE232033E738E073C566AAF53A2586D2C7D7714B1CF124B13078DD432B0E841E868AE5BE1DDCB4DE1286076DCD6AE61CFB0C11FCE8AE98BE6573C8A90E49B8F619F12F553A57812FDD18AC93816E8475F9B83FA66BE6A44577638C02EB128F61C9FE55EE1F1C2E0C7A06990EEC092E5988F5DABFFD7AF110C239205CF223794FD49C0FE46B19BF78EFC3452A6BCFFE188AFC9930A3FE5A3FE838FE953DBE9FBA442546DEB9FD6991A79B78A0FF0002F3F5C7FF005EB7590456E063F80FEB59B95B43AE30526DB39F86DCB5C3E077C0FC7A5779E1BD134F224BABF96486DE1654568D72CCD8E805737616F99E0C8FE22E7F535EC3E16D2ADDFC3912DCC2B20958C855BDEA652092E4836B739B93C3FA7EA1723FB3DEF9C11BCA5E46504AA0E0ED35B5AF68B1A68C86DA25B5548F708CAE4EEF4E3F9D74B0D8456B22985A63B14AA23B960A0F5C66B90F891773D9E88D7F05C4A0E445B5642003839E075C8FE55368CA564631AB515AFA9DAFC39D3A4D3BC1D6E66E25B966B861E9BBA0FC80A2B774539D074E23A1B58CFF00E3A28AED8AB248F2EACB9A6E4797FC7856FECDD22407E50F283F5DA3FF00AF5E293B8FED08C7FD3B0FF1AFA5BE27786E5F11F84644B64DD7768FE7C4BDDC00432FE209FCABE63D4418AE6D26C1DA63F2DB8EE38ACA4BDE3B684BF76BC8D3B21BAE643DF247E82B66EF0014F6158B6B26CB9DDD8ED63F88C1FE95A5A948C92A9FEF003F1158BDCF460ED13434F8C348838FF5440AF6DD2211059451E385403F4AF0FD3E6198189EC47E95EE9A6CA25B3864539568C1CFE159BDC8C43F7512DCA8298CE14FA1AE33C7B736F65E0CBBB4B882391EEFF730153DF19DC41E98C574FA8DACE4178AE26DA47FAB1C827F98AF1EF145F4BA8EAA9646649CDBFEE95D79CB37DE18F6E055A8ADCCE10E657B9EFF00E1A2C7C2FA4EEEBF638B3FF7C0A2ADD85BFD934EB5B6FF009E30A47F90028AED5B1E34B56CB3DABC63E2C7873419DC476710875395BCD99A3385518EA57D4D6AEABE3AD5E776821F2AD14F1BA3196FCCD729701EE2420967676CB331C963EE6B96AD74D5A27650A328BBB3838344D4913725B99BCBF95B61FBC2A7B833B5A017104D1321F959D08E6BD63C196C8D1DF2328216523915D0B58DA4B13472448EA782AC322B1E77B9DB1A8A3A1E1D60EB2C0A57A139FA1F4FCFF9D777E1EF1BC5A5DBADB5F961147D24C6768F435ABAAF84F49581DE3852D89E4BC7F2F35C4DD68CCC76432ACEE3A18C1CFE3C62A79D37A9BA719C2C77FAFF00C40D0ACB409AF21D46096768C88228DF2CCE46071DBEB5E4BE088A6D6BC51A7DBA8DC7CE4790FA0DC3F9D41A9681A9C12EEB7D29A591BAC8EBD3F0AEAFE186937FA278892FB54B7F2AD002C7660B16C103A76E6B78B8DB7391F341BB1F43D155ED6F6DEF63DF6F32C8BDF1D47D4515D8B53C9B58F0B7B9D9A8C892216563C1C55EB68CC973F2213C7E54515E6347AC8DCF0F634EB0BA9DC1064949C7AFA54E75090B7C832C7F2145149F61F98AB6AB7B286BD63201FC24F03F0AD591AC6C6DFE4890607000A28AA49244B6DBB1CDCB712DE3B305C2E696DAD26924E785A28A94AE3BD8DAB48EE2CE759E162AEBFA8F4345145691938E8999CE3193BB47FFD9 WHERE ([Id] = '76561C37-2D01-4AC9-BF21-97F3243622F4');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '91BE7B8E-B34F-4F8B-B2F7-A049AFFDBC26');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F7FA28A2803C6BE3D6AF25B69B67630C8C8CE1A462A7040FF22B8BF00EA90E9EB0417378AF34EFF32485830CF4C31F97F0E2B5FE39092E358936FF00CB28D1467D319FE756BC1F6D6973E1B84B2230650C77019FF39ACAADB935EE7A1878EABD0ED352D42D74BB033DC480444707207EA78AF19D5EE663E2F8E68A6CC2E84E125DCA73C0E9C57B46A7A558DDE99047731248B12EE19E40AF0EF11CB0C1E2948ED1045145962A06338E6A2825CC6D59FBB73E8AF879766F3C1564E4E76974CFD1CD7535C0FC1F909F02A42CC0C915C48187A64861FA3577D5D07973F89851451412145154755BB7B4B326150D7127C9106381B8F727B01D4D0095CF11F8912AEB5E25D4AD23018DBC6029F7C12D49F0D366A5E1F92C8CDE5DDDAC87000077A550BC548758D5E6370D3CD1C52AB965C65B24127F2CFE35ABE11B7834BD221561B669A3CC8E072188CD6355A51B33D3A49DD346A789F5E97C39A3334D2BC99CAA2600C9AF12133DDDF4977292CF21393E95D878E2E26B9D323F359998CA54B139E95C5432840EA06542AFEBD6AF0E928DC8C54DB958F43F037C437F0D5E00D119ADA55549A353C903A30FF680E3DC57BA691E31D135A09F65BC55771C4728D8DF4C1AF97342B13797E2387EFF00551D3A57BD691A65AC9A35ACDF674FB4AED63851924751F88CD54E4A2EC62A973AE667A3D151C1B7C88F6125768C13DC514CE524ED5CAF88EEDE556B7E91F7AEA4FDD3F4AE375901925DCC57AF20E2B1ACEC8EAC2453936CF22B9B557F1B4F670CF91A8954900FEE8C16FE5FAD7A05DC6AA772C6A1470001D05731E28D32C3C3377E1ED6A59D95CDEE6591B9FDD9539E0761C7E75D5DE3C57DA72DC594EB2C320CAC90B6430F622B1AADB8A676D3B2934701E38833A14AEAABB51C3907B8F6F7AF2C43E5CEA091CAF4F4EF5EC51D95919AE0CC859D118EE918B11C76CF4AF229E20666948FE2DA056F85968D186263AA66DF878CD6BACC25324B49940A324E7B715F43E82310C6EC1977740DD47D6BE7AD354C37B6D245F2F96C3247D3AD7D1BA74A2F344B6BF3198E71F2DC237671C13F8E339F7AAAD1BBB934E56567D4EAE10A221B385F4A2A2B19164B6054E451549DD1C72566D160FDD35C378A6610D9CED9C706BB93F74FD2BCEBC699FB05C8FF0064D635BA1D584DD9E29AC6ADA8EBF142D7EEC059A98224231819CE4FB9E2B3F43F136A3E16B976B29434127FADB790651BDF1D8FB8AEBFC77A6C7A6788258E35291DD5BC57080F424A80D8FC41AF36BA52256AEC518B8DBA18733BF32DCEC26F12FF006CDDA982516E93E5245C0DC0753DF1F4AE3EF250D7EE17FD5AB10B55B04743839CE69D1AA9207EB510A6A0F42E755CD6A75FE1522EF56B68380EC475EE077F7EF5EF724D2699A7DCE9E54B3B22853E80E40FE5D6BC43C17A3EA373AE5ADD585BBCD25A3ADC80A33900F22BDB35195F52F14C1143191B5155B3D8FA7E19358D676D8D692BBD765A9D4E870B43A542AC496C5157E28C4512A0E8A31455C55958E49CB9A4D8EED5E6FE329564B5B885797DA4F14515955E874E17A9C87C64B6DD6DE1CBC894995ED361D832700023F99AF1DB882F18F104C7FE0068A2BAA2F4398A86D6F49E6DA7FF00BF66A582D6EC4809B6987FDB3345145C573E89F84768DA7F862FEF82169D884443C13819FE67F4AEB3C27652B4B737F74A44CCC40CFAF7A28AE696B555CEA4ED464D791D5D14515A9C87FFD9 WHERE ([Id] = '91BE7B8E-B34F-4F8B-B2F7-A049AFFDBC26');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = 'C2A9139E-E885-4D38-8C6D-B537BC150AD9');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F7FAAD7B762CEDA498AE42296FC8559AA1ACD9C97DA54F6F0C852465F948EFEDF8D27B6835B9E776D77A5EBDA8C979A8C6D25C7647070A3B0C74AB57F776CA02A16745FBB120E3F1C702ACE9364A6C048F1ED9779570570411C55AB9B4061200033ED5E736DBD4F4A34E36380D4FCFBA9BCDB99A68933C2C00ED1F877ACFB84D4204F3609A49A21F29746C95FA8FF1AEBEE343F349FDF3237620563DCC46C2661768B164605C47270DECC08E9F5CD5466B664CE9B5AA3971F6A9A65F325639386723EE7B9CF6ABA341177A38BD49EE0C6588F395F8420E395F4F7AD24B36B921ADE48663D844FCD69E9DE14B8B6B9FB635C94041DC809C11E98A5393E8CAA5C8BE34725A6689792FCD7371247B5B014B1C9C77FA515D2DFDA4A2758A2C85246481D051530A8D84A2AE7B533AA2E59828F527158B7DE2FD0F4FDDE7DF27CBD7602DCFA71D4D1A704BF2DE7399980058B7BF6AD08F4AB08983259C018743B064576A94E6AF1D11C168C5DA4731A6788348D7AE6F469973E6EC61232329565DDC743EE2AD5CBA47160F53D00EA7E82B9AF14CF6FA178C21D56DA154655DB7610637C3FC44FD3835AC752F2B49B9D56D61374D2E5ADCC7F379898F9403D8572BD5B47753F850FF0025981665C7B1EB597A9D943790ED60322AEE852EA175622EB5308934DF32C49D235EC0FA9A8AF21656620D652563A21A9C43E831C175BADC9864CE772F15B1617AF6EFE56A2F200070E0FCA6AD4B031F988E6B2B538DDEDD947A567ABDCB7046FCDAE68B1DB66095257E9C7AFBD15E5F633496DAB089FEE938A2B64BC8C5D248FA02E206D335986EE1FF005172C23950740C7A1AD2BEB9682DCF94374CDC463DE92EEDA4BAF2E3CAAC41D5D8F7383900550D7AEA4B011DD7D9E59A15E1C44BB987E1E95D92BC22EC7991F79AB9C4F893C3D7571A7CEA1BCEB873BA4DC7990FA7D2B82B4D5FC41E159A09144B1A2483CDB693EE4B1E79C0EC47622BD12E355BDBEDEF059DCC3003859664C75ED51DA786E29333DEA472310721DF23F2CD715D45FBA76A6EDEF1D3092260A4BA8DD82BCE339A8EEA0571918FA572BAFEAD6BA7CB6A81E030BE3ED0436E7455C61517D4FAF615AED716FAE6992CF1CA1ACD703E46E6463D14F71EBF853BF36874C63B3B93B5A2B21C0E6B26FEC5446D91DABA18B091229EAA02E4F7E2B23C413086DCF38278ACDAB14AEDD8F3C9B4D693560F1AE70D4576DA2E9B190B24846F6E7068A719309B573D428A28AF58F0CE6FC4F6B7724905C259FDB6DA3FBF0AC855C7FB407435CFEA7A569F3A856F322001C146E9F9D76D797DE4DCC56912869E50480C70001DCD72DE23B5910A9C22C8EC4A60E4123A8AE1C4415DC91D7464F4470DA8786224732C612500F277F247BF7A4D2966D375356B50EF031CC9103F29C74FC47AFBD7536D650CD0091D88B8C1C47DCFFF005AB1F5196E74E53F64B1F31FA93DB15CCD58EB8CDBF53B37713DA0B98F8046707F957397ECBAA5D46BF3155FE11DCD665AEAFA8EA9B121DD0A480131AF45FAD6B99AD74888B48E0CA474EF5AC60A5ABD852A8E2B956E55B8FB7E8B2C73C9240F03C8008483BC8EE01E981D68AA57379FDA1702591867A22E7EE8A2B094E2E4EDB1BC29B515CDB9EC7451457B2786636B161712DE5B5EDA00D2440AB2E7048F6A84D95D6A17B14D75188E18790AD8CB37F4A28AC9C1391AA9B48AFAF848113C98C798EDB4EDEAC3D2B22FB448E183ED3773F96A3A28E7F003B9A28AE69C22DC9F63A69B7EEAEE73175A9CD6703C7A6DA881403FBC71963FD05719E16BCD475C8AFAF356694C9E7EC40C9B405C7614515CE9B95395FC8ED7151A9149773BBD2F4EB4959552262DDC9ED451456504555934CFFFD9 WHERE ([Id] = 'C2A9139E-E885-4D38-8C6D-B537BC150AD9');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '815DA2F6-9D93-4792-85A0-D31E62A737DF');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00F7FED5F387C5EF1449A8F8C25B282765B6B15F2BE5381BBAB9FCF8FC2BE83D56F974CD22F2F9C8DB6F0BC9CFB0CD7C67AA5D4979A8492C8C5A4998BBB7AE4E4FEB5954E88D29AEA12EB37504066F365DEFC460B1E2A9DBDC6A92C9BCCD76F939E1DAB5B42D2FFB6B5250CA0C71019F4AF6CD17C3F6305B2288101C73C56152BF27BAB73A21479F56790A586A7A9DB0D8F76B201D06E14ABA1EB3A5C2D71A83DCA46EA4265C9E7DFD2BE88B3D36DA388858941C7A565788B4B8AEF4E9A1640D91C71DEB39569D8D15189E01F6D9EDD53CC9A500F72C6BE8AF843AC9D4FC266DA472D25AC9B727BAB723FAD781EBB686CA66B5994023EEE475AEFF00E026A821D6EFF4C924FF005B0078813D769E47E46BA213BD99CD38D9347BF514515D060711F16EF5ACFE1C6A5B7ACFB21FFBE9867F4CD7CA171262F1B71C0FBA6BEADF8BB6AD73F0E35028326168E5FC038CD7C97A8362F1F1D8FEB59BF88D63F09DCFC3C31ADDC8D2B88E3EEC7A57B7E9A2DE48C343347281D4A3035C0F84F48B9D3FC1F6CB62625BA906F7691370C9AD9D2F4DD662BE9AE2736D2A0602331C6A92107A9247A7EB5E7CAD2936774538C523D021C2A7078ACFD42E6CA1E2E2E628D8F452793F875A75ACB23DAC9B8FCCB5CFDE58EAF2EB224B7B886D6D02FCEC22532B9F50C41C7D29EFA06AB6388F89105B5C69DF6E855B744C064A15C8271DEB94F87DAC1D2FC73A5DCA7189D51F1DD58ED3FA1AF49F1769D727C09A836A171E74CA9BB76DC743E95E63F0CAC5352F1CE99148A4C4D7084E3D07CDFD2B5A3F069DCCAB2B4B53EBFA28A2BB8E139CF1EA07F01EB4A4647D95ABE38BD5F35669F18C938AFB2FC6ECA9E06D719BA0B294FF00E3A6BE3BBB8B161120EC809FA9E6B39692348FC27BD7816EC5D78634D9BA930283F51C7F4AECE79A38AD33C0278E0724D78A7C29F11C6D68DA1CF204B8898BDBEE3F7D4F247D41AF49BDB8786E6386E2395A3957E49539191D8FA1AF3E69C64D1E8C1A9C133A0B18C98266C107DEAEC6C8D180D8C8E2B0ECE496389A377B9C1E4A989B77E78A517667918C0B2622E1A46E013E9EF45EC87CB739FF008A37896FE0DBD5271E6958F1EB9615C47C21B453E35D2FCBE577C921C0E9843FE34DF8ADE208EEE48344B79048D13F9D72C0F01B1F2AFD79C9FC2BAEF807A1164BAD6E51F2C60C10E7D4E0B1FC801F8D74525A2F3396BC95DD8F71A28A2BB0E3392F888D24FE159F4B873E6DF8F2B81D13AB1FE9F8D7CB7A85ABC134B0BA905538C8F4FF00F557D79A941E65DC6C464342C89C7F1E4301F8E2BC23E27E8B610DC2DEDA4CA5C3E1917FE79BF23F2391F85615347736A7B58F2CD26D58788AC0C4E50B4CB865382BCF5AFA0349BA5D45EFB44BF3FE93633B424E7AE0F0C2BC3F4A4D9A8405972D1C806338E722BD424329F1CEAD791E63F3A7320C1E9902B9EBC95AFD4E8A29A96877D0E99769118BED8E612300139C5737E2CD623D074D7B2B323CFDA589EBB7DCFBD5B8757D4590A79A0281F7B6F35E6FE2EBA37172218D8B3337CEC4F24D732A9CED451D32724B538A7814E6595896918BB331C9393C935F457C10D4AD6EBC18F6B090258676664EF86E87F4AF2DD2F47B59A111CB99188E5114118F726BB0F0BE8F6FE1FD492FB4A79AD24E8F183BA371E841FE95D10C4454B5396545B8E87B7D158F67E20B79C059BF76E7BF55A2BB54E2F54CE47092D1A33FC59AABC118B183EFBAEE76F41DABC47C5F6B76C52308CD1B31DA40C9E792BF9F3F8D14571556E552CCEBA692A7A1CDE83A7CB3EBF6F1BC2E144C3792A4020735E853C862D426B8689886E06075A28A8AABA174F6B96D2799AD36242CD2C9D80E95C6EA9A5DC41ACDB9B98CAA96CBEDE700D145634E2AE6B37A1DCE9D6D1ADB4505BC41573CE0727DEB761B5F2C850B4514B950D335E0B125738ED451456EA2AC66E4EE7FFFD9 WHERE ([Id] = '815DA2F6-9D93-4792-85A0-D31E62A737DF');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '0214C123-2934-468E-8F24-EA5DF2E76F3C');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00D0D4674B2D22EE792E0FDA00DB1A03DCD78CDD6A37775744A5C4D9924DA8039FBA0D761E39D63EC90C568B92EE198FAFA0FEB5CE786AC56EF59B759982AA0DCDFECA8E49AF330F1718B9B3D096AD44F4EF0CE966DEDA32EECD2100924E6B4AEB4B09AAC911CF937D17989E8B2AFDE1F88E6A5D1EE6D2790470CE8CC3F873838F6AE9E6D385C41111FEB2171227D7BFE63352937B9BB696C787F8A74CB8B3BB12472CAB1BE4101C8C1AE6926BBF2F3E7CDB90E705CF3EA2BDB7C63A166CE59D23DEA3E6C5793D8DB472DD5E44A7EE30201F7ADE9C9DAC44E31BDCCA9DAE85CAE2E660B32E47CE7823FF00ADCD5B171712E8B23F9F2F991FCDC31EDD6AF5CDA288611C6EB79BF35FF38A916D123B3BD41C825C7E7C8AB4D90E295CF40F8517AF245756B3BB31D8181639E871FC88A2A9FC324DBAF9833C1858FF00E3A0FF004A2B8EAAB4D92CE0BC62E92F8BE591F1E4DB22855F53D7F99AB3E06B49EE6E6E2F205F3641228913D50F240FC3B77E9589E2494DC6B1A84EDC032E2BAEF85D2A19F50893E561E5B0FA722BA2516A959170FE21BF789AD4F33B45A52C90A3858D4677019E5BD54F7C575BE18D524676D3E592569A338C487247B67BD6BA40AB0997203E396EE6B374D0D71AF09376EF2C753592D1245D9DDB347C493CF0E992AC260572A72D372A0578106163AA5EB09E37775DC428DA383D857D0FA8D941A9C2F0DCC2B22373835E55E36F0A42B2497F046E260854B1724631E86AD349EA249BD0E425BF57673D4600FA723FC6A36BE3B1901F98B007F2C5613CCE217ECDC7E869E256172CC7A12A57F2AD910CF4FF0085B26FF1ADB0CFFACB7917F10B4567FC329597C61A7BA9E732A91EC41A2B9AB5B9CCDDF4382F10AB45A85E46DDA63915B3F0CAE0C5E28B88F3F7EDFA7AE187F8D49F11EC16DBC5F79121189956500763DEB99D3B509340D7ED751405954FCEBFDE43C11F95742F7E1629FBB3E63E88BBBC9593C8462AC074EF57BC3A9022BEF936CB9E722B97BCBDB7D6B4EB0D52D243B93044919C657BE7DBDABB1D2ED5EE604782F2170480639D70CB9F71D6B9A29DCEB925CB7B9A48CE036C0AE3B541736F67A958CB14B18F981520F6A4BCB99AD90244D6D24B8F9523C924F38FA555896EC0592ECC4B3153BD62CED07B004F5AA7A1096973E71F10D83695AEDED8B7DD47254FFB26B2F79FB3072791C7E59AE97E22DCC32F8D2E7C860EB1E11C8E84E391F857312AECB7DA4FF167EA2BA21B2B98547ABB1E9BF072DDEFBC6D6F205F9208DE47F6F9703F5345765F01345FB3E877BAAC806F9D846BEB81D68A870E66E473D496B6EC7987C43C3EBF15CA2302E8492DC1620D7257F179905BC8075FEB5EB1F153488218ACAE624C61CA1E7D4579BBAA0B008FD549028A0FDD474D55D4E9BE186A822BCB8D1EE5BF70CDBA2DC7A13D457B35BE965142C33954ECA791FAD7CEB0426DA38EEE262AEDC920F22BA8B5F897E20D36D4E65827441C1953E6FD2A269395D1AD36E313DC241069F6C6E6EA7448E153F3BE11507F215E4BE2DF8A5F6B32D9F87C9F2F956BD3FAEC1FD4D79FEBDE2ED77C5D22AEA3787C807E4B78C6D8C7B91DFF001AA5B0244A154E3EEA8F535AAA4BA98BA8DBD078B733C9962588E58E7B9E7FCFD6952DDF52D652CE2E599C4631DB3D6A69185A5BAEDC9DB9663EADFF00EBAEC3E13E85F6CD55F519932907009FEF1E4FE9FCEAA72E58B624B99D8F60F0C5A7F6058DAC10FCAB1A80C0746F5A2B45172CAA3AB1C515CB16EC5548C5BBB381F89103DCF87A46552CD1BAB2E064F5AF1AD423B8C8115BCCC0F270868A2B6C32D18ABBB1AB3DB5C47630A885FEE0E029CF4AC992DEE1D096B79B6AF38D87934515518A1CE4D14ED6CAE9A7CB5ACEA064F319EA6ACC715E34ED235BCC1506106C3C1A28ADEC73293269AD2EA6F2E05825C756F90F27D2BDFF00C13A17F61786EDADD9712B2F9929FF0068F38A28AE6AFD11D14BA9D8E8D6C66BC3330F9221C7BB1A28A2B7A114A08E5AEDB9B3FFD9 WHERE ([Id] = '0214C123-2934-468E-8F24-EA5DF2E76F3C');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = 'E6008E25-51BE-4CDE-A9A8-EDB47D38854B');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00E4FC63ADDCD9E9CD6F1DC032CEC532BC155CE7D7F5AE16DB589C33A4B3CECAD819F30E462BA5F1547F6BB6946F8FCD84B3803A919E95CA68F6EB35D65FA2F6AC29B518DCF4F1BCD2AA91DF786F4197500B37DB2E511BA06724E2BD6F46D3A2B4B48E1037851D5B926B88F0C4A8912018AEFAC66071CD72B9B94B52A30518E869C96E8C98DA3F2AE7B57D2A39ED9E3D8307B0AE9E23BD7039ACABCBBB75668C334AEBF784485F6FD714497541097467846B315DE91A9926594C20FCCACC79EDFCABB6F04B4874D9DBEDADBEE097453CEC0001900F1CFF004A93C7DA42DFE8A6F6043BE0F99C6304A77FCBAFE1567C1D02FF00C2156AF1B8591837CC06EFE22391EBC55BA9CD046D84828620DF59F7B06138DB1960F81D78FD3F0A2A34983C82459D76465C3F19EDEBDBF0A2A533D7923C77509B37132168C9C9078EDBAB9AB61F62D44A64147FBA456BEA52117930CA6779EDEF58D70E5F6B657287231F5AE85D8F0EB7BC93EA8EF344D660B5654925C67D39AEE6C75A8FE52B2641E2BC92C24BE6DB1DAC31B8238DD5D72E9579069297B34B1C720196897920F6C1EF5CF382DEE4426EF6B1D9EB17974D18533491C3D4ED38CD6769DE28D5EF5CE93A3D96D31E37198151B4E0EEE9D0E6BA8D164B6D5FC3B0C9346AFBD369C8CD102E9DA4DC049278622DFC2DF2D284ACB534946EF4D09A7B50B65E5CDFBC2CB87CF7CF5AE734683FB334E9F474701BCD69A26D990A84F4C57557D776F2C7989C1E3B1AE74C9209DA388619C70F8CE0679C8A85BD8EBA31BC93EA5B59433F98B3C7B10B06E33CFD7B51488E19B78962D88583639E7EBDA8AB47A323C2B53CFDB67FB99DE73F99ACD862F3EEA38B2A031C56A6A69FE993F099DE73F99AC96051C329008C10457523C09DEC74BE0FD412DEF42C9820FAD75FE20D7A08CC10330589FEFB019DA2BCBA199A36CA6D539CE456F448BA9C2668AE009946248A5E71EE3DAB29D34DDC9536972A3D33C17E25D36DF4F96DFCF129072AA9D73F4AEA5C59DD59B1BF8812CB9102AEF651EFEF5E77E00D163BBBA5FB6DF9B404ED6F253AFF00C080E3F1AF5A43A5D9E9F25AD98281FE49198FCCDEB8EE4FBFBD4FB35D59A293B6DA9E7B0DBB5ADD89ADBCE8ECA642D1C529C9C6783ED9F4ADEB785A5D366963C093CC0AACCB918EFD2A6D5E2134CBE5A019C2228FD0569DE5B7F66595AD92004AA9773EAD8AC5EED9BC26E2D58C657CB870F0F963706FAFD7A0EF45053648BF2C6B090C48618273FA7AD1571D4F52FCC93478E5C6993DD5F4B8548C339C33679E6A397C32635CB3EE3E81715DBCE019A452A0A963918A87C9529B3A8ED9ED5F4D4F2FA496BAB3F2CAFC41899CDF2FBABB7FC13CEEEB4D3102157159D135C59CF9462194FE75E8575A787CFCB58B71A217CC8AB9C706B8F1B43D92E64B43D3CB31BF5893849EBB963C2B7C65BBFDD5C3C0E7EF206C57AB68F0C68E2492632487F898E6BC623D26486412A12AC3A11C55E97C4BAD5BF936304CBE648C115C8E4678AF226B99E87D153A8E11B48F7CD2E28AF356F38E1A2B5191E85FFF00AD4B7F896E99D8D2F86ED0D8E850C4C4B395CBB9EA4F726B3B5CBD5B5824909E959CF648D20EF26CC4D4B52C6A0B1055753840ADD00EF4573914F2CBAC4C25E0A48981F519FEB457BD84C1D2F6119495DB3E5F199B62E3899C29CDA8C74B0B2C72F9D2111BED2C79C1A688E5C9FDD3E54E0FCA7F3A28AF5632763E6E7462DB166B697696113FFDF35269BA48BDBD5826124692A1C3018C376A28AC71894A8CD3ECCE8CB97B3C4D3945F545A9FC292C0ADF3798BD8D79EEB7637563AAC3711DBC8FE5481F0AA4F434515F2B497BC7E815B48DCF7AF0B6A86FF46819B21997A1E2A96B362F73A8DBDA303891F39FA7345153245C1E860EBDA5C7A7EBB12C08C4BAA3C8E0672D93D7F0A28A2BE9B0BA5082F23E2B18BFDAEABF33FFD9 WHERE ([Id] = 'E6008E25-51BE-4CDE-A9A8-EDB47D38854B');
GO
GO
DECLARE @rowID uniqueidentifier;
SELECT @rowID= [Id] FROM [dbo].[UserAvatar] WHERE ([Id] = '90F4FA98-E91A-430A-9916-F3EC5C93214E');
UPDATE [dbo].[UserAvatar] SET [Avatar]  = 0xFFD8FFE000104A46494600010101006000600000FFDB004300080606070605080707070909080A0C140D0C0B0B0C1912130F141D1A1F1E1D1A1C1C20242E2720222C231C1C2837292C30313434341F27393D38323C2E333432FFDB0043010909090C0B0C180D0D1832211C213232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232323232FFC00011080048004803012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00EE359867D33467B9B9D46DF4B8E34211D72CE07A67B5788EB1E3FBEBB54862BD9DA343F2B33649F727D6B27C4BE21BCD4AFA6F3AF24750E46D3C0EBE959BA1E8B75AEDF886052573966EC2A214E34D1A5DB76474D63E3BD42D2094C324AF72E428766276AFB5751E1BF1D7882D2F5EF1E396613261C48BC023A1AD5F0FF816CB498FCC917CD98F52E338FA57446D6184612351F85673AC96C8E88506F7656FF85CB6B0487ED964F1F4E0273EF5D1693F10F44F11810DBB0590FF000C9804FD2B98BED1ACB50B761716C8CB8E5881C5795F89FC2979E1C98DF69D2486DF393B7AAFD6A1494F47A309D2E5D6D747D1EDA8595A90B26D48C83F311819F735531A4F88E1B981A65091FCBF2900E3D73E95E3BE0DF19C9AB5AB69FA849BDD46CCB1CEE1D8FD455ABF0F69768C4B79658847CF0D8ED5CB385A5CAD6C72568F2DA51D99D16AFF000ECDBDC44D637D218F7670C4E71F5EF456B68D7124B6C997665C7739A2BAA127605047CE1A86D97559618C6E7699867DF35ECDE0BD121D2B4E4C28F31B963EB5E3D6FB57C4FB9B902E8E7FEFAAF78D3DD56DD5F700B8CE49E00AAC4C9A691D7858A7766D06256A96A97D1697A7CD7728DC235C85CFDE3E95817BE3CD2EC8B85123C69D66385527D06793593ADCF3F8A74477B163BE2656319E72B8ED5959F53A1C959F2EE60DF78DAEAE56591652D70A49299F91076551FD4D2E8BE2CBDBC8D05CA99ED2566866490EFDB919041EBEBC57296DA56AAB15C5F259B1B757F2DE5238073FE79AEA7C3BA4CB6B6C985DEB24AAC36F383C8C55D5B4158E7A3CF296ACC2D5B46B9F07788A229217B697E78A53C647A57A3DBCB16B9A22C90B62E001E62F663C73F5E2A4F13684BAC785FEC840377020781BB8603A7E3D2BCFBC3FADDC6997C4E4852A0943EDC1159B6EAC2EBE2439D2517CAF667AEE91249047120E7B75A2A4D2C68D3430EA29AA5D3248A1BCA488000F719CD15119E9FF0004CBD9CD69CA7CEB74C63D52E1C7513B91F99AF55D16FE6D7F4CD334CB17437B784C60499D8A57A96F61D71DEBCAEF47FC4C6E7FEBB3FF00E846B5BC25ABBE9DA9C012768DD65CA6DE0E08C3006BBAA414AC4539B8DD2EA5CF18787B57D1B586D36F655BCB966508F18FF5D9E840FAF6ED915D9F80B4ED4B48BB78F5083CA1E50000208233EA3BF5AD2F10DEFF006E4D6AD358A078E51309F7E1D3E5DA463DC007EA2B56DA0169670048F6F9EF90ADD7681C5655A718C6CB73AF0F4249DD8BADE99A7246D717423585C7CCDB793E838EBCD66E9C896219ADE28F613807661B157AE8DDCD1B23B83F364647DD1D80A6DCE95711E96D348C618D97110CFCCE4FA0AE3B396A8EDE551D58F13BCCC4E36E3DEBCB7C6568B63E247318D8930F3140E809EBFAD7A1E8F64DA769EB6AD2348FB77B3B1C924F5AE0BE20CAA754B55CFCE2224FD3357875CB56CBA9CF89D61736FE1CEA16975A98D2B517956DEE7FD5F96FB76C9E9F8D15C468F74D0EA76EE848612A9047D7AD15D8A0937A1C2E4DDB5286A4A46A1703FE9A37F3359EE4A38619C839CD6AEACA06A57183905D8FEB59528CE6B65B194B467B17813C449A9D9471DE2C6D729F2AB9C12E07AFBD7657121B896290293E59E95F37D8EA177A749E6DA4ED1371923DABD77C37F116C7518238B5065B6BC0304B70AFEE0D70D7A325AAD8F4B0F898B5CB2DCE9B4ABDBE4BD9A69F4EF995F1016901503D481DEAF5E35CDECE5EE0EE27A28E00FA0ED55D750B4988292AE0F460722AD1BDB5862323CCA4F6E6B25276B1D3A277EA55B8416C8D23F0715E1FE2BD43EDDE219255398E302353EA075FD6BD2FC41AACFA96DB6B60C91336D67E84FD2BCD3C47A71B3BE60A331E3835787B73DCE5C4DDC7429E9EC5750B71DFCD51FAD14DB139BEB46F59173F98A2BBCF3D97F54D3AF3CF965104AE8D33852233EB598DA7DE119FB24FFF007ECD14538BD027B91AE9B79923EC93FF00DFB348FA6DE838FB1CE7E919A28A093B2F04DB5FC71C8B3DBCE96FB80572A46D3E95E830D833019466FA8A28AF3F151B4F4EA7A7849370D427D2DF68758C8DAC18F1DAB91D7B4E92EA3B8C44C581C8E28A2B3A4ACCD2ABD0E26CAC6EE3D42106DA6DA25539F2CFA8A28A2BD247932DCFFFD9 WHERE ([Id] = '90F4FA98-E91A-430A-9916-F3EC5C93214E');
GO
GO
GO

SET NOCOUNT OFF
/* ======================================================================= */

PRINT N'Done.';

