<%@ Master 
    Language="C#" 
    AutoEventWireup="true" 
    Inherits="MonoSoftware.MonoX.MasterPages.UpdatePanelEmpty" 
    EnableTheming="true" 
    MasterPageFile="~/MonoX/MasterPages/Main.master" 
    Codebehind="UpdatePanelEmpty.master.cs" %>
<%@ MasterType VirtualPath="~/MonoX/MasterPages/Main.master" %>    

<asp:Content ID="contentUPE" ContentPlaceHolderID="cp" runat="server">
    <asp:ContentPlaceHolder ID="cp" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>