/* AJAX related */
.ajaxOverlay {
    position: fixed;
    z-index: 9000;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity=40);
    opacity: 0.40;
    -moz-opacity: 0.40;
}
* html .ajaxOverlay {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
}
.ajaxLoader {
    z-index: 9999;
    position: fixed;
    width: 220px;
    margin-left: -60px;
    top: 50%;
    left: 50%;
    background-color:#fff;
    vertical-align:middle;
    border: solid 1px black;    
	text-align:center;
    font-family : Arial;
    font-weight:bold;
    
}
* html .ajaxLoader {
    position: absolute;
    margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px');
}

/* end AJAX */

/* Web Part Related */
.WebPartNoPadding
{
	padding: 0px !important;
	border-collapse:collapse !important;
	vertical-align:top;
}

.WebPartHideElement
{
	display:none;
}

.CacheOverlay
{
    position: relative;
    z-index: 0;
}

.CacheTime
{
	position:absolute; 
	bottom:0px;
	right:0px;
	font-family: Arial, Verdana;
	font-size:10px;
	background: #FFFFFF;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
    -moz-opacity: 0.70;	
    color: Black;
    border: dashed 1px black;
}

/* Admin mode draggable parts */
.droppable 
{
	color: Transparent;
}
.ui-state-hover
{
	height: auto !important;
	border: solid 1px #9ab0c5;
	background: #e3ebf2;
	color: #000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13px;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	padding: 7px;
}
.ui-state-active
{
	height: auto !important;
	border: dashed 1px #dc613f;
	background: #ffe4dd;
	color: #444;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13px;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	padding: 7px;
}
.ui-draggable
{
	cursor: move;
}

.html-editor, textarea, INPUT[type="text"]
{
	cursor: default;
}

.emptyWebPartZoneClass
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.web-part-box
{
	width: 165px;
	background: #fff;
	border: solid 1px #dedddb;
	float: left;
	margin: 0px 10px 10px 0px;
	font-size: 12px;
	position: relative;
	font-family : Arial;
	color: #444 !important;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.web-part-box .inner-box
{
	height: 32px;
	background: url(img/web-part-catalog-box-bg.png) bottom repeat-x;
	border: solid 1px #fff;
	padding: 20px 13px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.web-part-box .inner-box:hover
{
	background: url(img/web-part-catalog-box-bg-hover.png) top repeat-x;
	color: #000;
}
.web-part-box .inner-box:hover .web-part-box
{
	border: solid 1px red;
}
.web-part-box IMG
{
	float: left;
	margin-right: 10px;
}
.web-part-box INPUT[type="checkbox"]
{
	position: absolute;
	top: 3px;
	right: 3px;
}

/* end draggable */
/* end Web parts */

/* Toolbox tabs */
.monoxTabPad td
{
	padding:2px !important;
}

.ui-tabs-hide { 
    position: absolute; 
    left: -10000px; 
    display: block; 
} 
/* end toolbox */
.admin-input-form TABLE
{
	width: 100%;
}
.admin-input-form DL
{
	margin: 0px;
	padding: 0px;
}
.admin-input-form DL DD
{
	margin: 0px;
	padding: 5px 0px;
	overflow: hidden;
}
.admin-input-form LABEL
{
	display: inline-block;
}
.admin-input-form INPUT[type="text"],
.admin-input-form TEXTAREA,
.admin-input-form SELECT
{
	width: 98%;
	display: block;
	padding: 3px;
}
.admin-input-form INPUT[type="checkbox"]
{
	float: left;
}

/**** Web part menu - START ****/
.web-part-container
{
	position: relative;
	min-height: 65px;
}
.web-part-container .web-part-menu-button
{
	/* change display to block if you want Web part verbs menu to be always visible, and not only on mouse hover */
	display: none;
	width: 45px;
	height: 25px;
	background: url(img/web-part-menu-button.png) center center no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.web-part-container:hover .web-part-menu-button
{
	display: block !important;
}
.web-part-container .web-part-menu-button:hover
{
	background: #4c4c4c url(img/web-part-menu-button-hover.png) center center no-repeat !important;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.web-part-container .active,
.web-part-container .active:hover
{
	width: 45px;
	height: 25px;
	background: #4c4c4c url(img/web-part-menu-button-hover.png) center center no-repeat !important;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.web-part-menu-content
{
	overflow: visible !important;
	z-index: 5000;
	display: none;
	background: #4c4c4c;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#4c4c4c));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4c4c4c, #333333);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4c4c4c, #333333);
	/* IE 10 */ background: -ms-linear-gradient(top, #4c4c4c, #333333);
	/* Opera 11.10+ */ background: -o-linear-gradient(top, #4c4c4c, #333333);
	padding: 3px 1px;
	position: absolute;
	top: 25px;
	right: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.web-part-menu-content A
{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0px 2px;
}
.web-part-menu-content A IMG
{
	margin: 0px !important;
}
.side-bar:hover .web-part-menu-button,
.side-bar .active,
.side-bar .active:hover
{
	top: 8px;
	right: 10px;
}
.side-bar .web-part-menu-content
{
	top: 33px;
	right: 10px;
}
/**** Web part menu - END ****/
.RadComboBox_AdminAutoCompleteBox
{
	width: 98% !important;
	background: #fff;
	border: 1px solid #CBD3D9;
	padding: 0px 2px !important;
}
.RadComboBox_AdminAutoCompleteBox INPUT[type="text"]
{
	color: #000333 !important;
    font-family: Arial !important;
}
.RadComboBoxDropDown_AdminAutoCompleteBox
{
	background: #fff;
	border: 1px solid #CBD3D9 !important;
	font-family: Arial !important;
}
.RadComboBoxDropDown_AdminAutoCompleteBox .rcbHovered
{
    background: none repeat scroll 0 0 #3399FF;
    color: #FFFFFF;
    font-family: Arial !important;
}