.adminPanelTopBar 
{
	background: url(img/adminAccessTopBar.gif) bottom repeat-x;
	height: 40px;	
	width:100%;
	display:block;
	clear:both;
	overflow:hidden;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#003553;
	line-height:25px;
	cursor:pointer;
}
.adminPanelTopBar TD
{
	padding: 0px;
	margin: 0px;
	line-height: normal;
	vertical-align: middle;
}
.tabStripHeader
{
	height:26px;
	background-color:#F4F4F4;
	width:100%;
}

.adminPanelTopBar a:link, .adminPanelTopBar a:active, .adminPanelTopBar a:visited
{
	color:#256f95;
	text-decoration:none;
}

.portalAdminBgImg
{	
	height:25px;
}

.expandSlidingAreaIcon
{
	background:url(img/expandSlidingAreaIcon.gif) right center no-repeat;
}

.slidingAreaWrapper 
{
	background:url(img/slidingAreaBg.gif) top repeat-x;
	height:261px;
	width:100%;
	display:block;
	clear:both;
	overflow:visible;
}

.adminPanelBottomBar 
{
	background:url(img/adminAccessBottomBar.gif) top repeat-x;
	height:24px;
	width:100%;
	display:block;
	clear:both;
	overflow:hidden;
}

.bottomBarSignature 
{
	width:112px;
	height:24px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background:url(img/bottomBarSignature.gif) center bottom no-repeat;
}



/* dropdownSelections */

.dropdownSelections 
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#535353;
	display:block;
	clear:both;
	background:url(img/backgrounds/slidingAreaBg1.gif) top repeat-x; 
	background-color: #FFFFFF;
	width: 100%;
}

.goToPortalAdmin img
{
	padding-top:1px;
}

.tasksLayout 
{
	margin-top:0px;
	margin-left: auto;
	margin-right:auto;
}

.pageTasks
{
	float:left;
}

.titleOne 
{
	text-align:left;

	background:url(img/h1Bg1.gif) left top no-repeat;
	height:29px;
	width:80%;
	padding:0;
	padding-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:29px;
	margin:0;
	margin-top:0px;
	margin-bottom:20px;
	color:#006699;
}

.titleTwo
{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:29px;
	margin:0;
	margin-bottom:20px;
	color:#006699;
	padding-right:20px;
	margin-top:0px;
	background:url(img/h1Bg2.gif) right top no-repeat;
}

.moduleDescription 
{
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	color:#535353;
	text-align:right;
	margin:0;
	padding:0;
	float:right;
}

.pageTasks a
{
	cursor:pointer;
}

.pageTasks a:link, .pageTasks a:active, .pageTasks a:visited
{
	color:#256f95;
}

.pageTasks a:hover
{
	color:#FF0000;
}

.browseMode:hover, .designMode:hover, .reviseContent:hover, .partCatalog:hover,.connectParts:hover, .userView:hover, .sharedView:hover
{
	color:#FF0000;
}


.pageTasksBtn, .browseMode, .designMode, .reviseContent, .partCatalog,.connectParts
{
	text-decoration:none;
	color:#256f95;
	height:100px;	
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#256f95;
	float:left;
	text-align:center;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:15px;
}

.pageTasksImg
{
	margin-top: 10px;
}

.topView
{
	text-decoration:none;
	color:#256f95;
	height:52px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#256f95;
	float:left;
	text-align:center;
	margin-left:5px;
	margin-right:5px;
	margin-top:1px;
	padding-right:40px;
}

.topView a, .pageTasksBtn a
{
	text-decoration:none;
	color:#256f95;
}

.topView a:hover, .pageTasksBtn a:hover
{
	color:#FF0000;
}



.browseMode:hover 
{
	background:url(img/browseModeActiveIcon.gif) center bottom no-repeat;
}

.designMode 
{
	background:url(img/designModeIcon.gif) center bottom no-repeat;
}

.designMode:hover 
{
	background:url(img/designModeActiveIcon.gif) center bottom no-repeat;
}


.reviseContent 
{
	background:url(img/reviseContentIcon.gif) center bottom no-repeat;
}

.reviseContent:hover
{
	background:url(img/reviseContentActiveIcon.gif) center bottom no-repeat;
}

.partCatalog 
{
	background:url(img/partCatalogIcon.gif) center bottom no-repeat;
}

.partCatalog:hover 
{
	background:url(img/partCatalogActiveIcon.gif) center bottom no-repeat;
}

.connectParts 
{
	background:url(img/connectPartsIcon.gif) center bottom no-repeat;
}

.connectParts:hover 
{
	background:url(img/connectPartsActiveIcon.gif) center bottom no-repeat;
}

.sharedView 
{
	padding-right:56px;
}

.innerView
{
	text-align:left;
}

.innerView a 
{
	text-decoration:none;
	color:#256f95;
}

.innerView a:hover 
{
	color:#FF0000;
}

.goToAdmin
{
	background:url(img/goToPortalAdmin.gif) right bottom no-repeat;
	padding-right:36px;
}

.endContRevision, .aproveChanges
{
	text-decoration:none;
	color:#256f95;
	height:100px;	
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#256f95;
	float:left;
	text-align:center;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:15px;
}

.endContRevision 
{
	background:url(img/endContentRevisionIcon.gif) center bottom no-repeat;
}

.endContRevision:hover 
{
	background:url(img/endContentRevisionActiveIcon.gif) center bottom no-repeat;
}

.aproveChanges 
{
	background:url(img/aproveContentIcon.gif) center bottom no-repeat;
}

.aproveChanges:hover 
{
	background:url(img/aproveContentActiveIcon.gif) center bottom no-repeat;
}

