<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!--
      HSS Interlink HttpHandlers for:
      Cassini/DevWebServer
      IIS6
      IIS7/Express Classic Mode
    -->
    <!--
    <httpHandlers>
       <add verb="GET,POST" path="FileUpload.ashx" type="HSS.Interlink.Web.FileUpload, HSS.Interlink.Web" />
    </httpHandlers>
    -->                 
    
  </system.web>

  <appSettings>
    <add key="UploadHandler" value="AudioUpload.Web.UploadHandler, AudioUpload.Web" />
  </appSettings>
  
  <system.webServer>

    <defaultDocument>
      <files>
        <clear />
        <add value="AudioUploadTestPage.aspx" />
      </files>
    </defaultDocument>

    <!--
      HSS Interlink HttpHandlers for:
      IIS7/Express Integrated Mode
    -->
    <handlers>
      <add name="FileUpload" verb="GET,POST" path="FileUpload.ashx" type="HSS.Interlink.Web.FileUpload, HSS.Interlink.Web" />
    </handlers>
    
  </system.webServer>
  
</configuration>