<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Size, Extension"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="Default.aspx"/>
        <add value="Default.html"/>
      </files>
    </defaultDocument>
    <caching>
      <profiles>
        <add extension=".log" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <!--
        <add extension=".clipflair" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".zip" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".clipflair.zip" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />

        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        
        <add extension=".dzi" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".dzc" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".cxml" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" /> 
-->
      </profiles>
    </caching>
    <staticContent>
      <mimeMap fileExtension=".log" mimeType="text/plain"/>
      <mimeMap fileExtension=".clipflair" mimeType="application/clipflair"/>
      <mimeMap fileExtension=".dzi" mimeType="text/xml"/>
      <mimeMap fileExtension=".dzc" mimeType="text/xml"/>
      <mimeMap fileExtension=".cxml" mimeType="text/xml"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0.3"/>
  </system.web>
</configuration>
