<?xml version="1.0"?>
<configuration>
  <system.webServer>

    <directoryBrowse enabled="true" showFlags="Size, Extension"/>

    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="index.htm"/>
        <add value="Default.aspx"/>
        <add value="Default.html"/>
      </files>
    </defaultDocument>

    <caching>
      <profiles>
        <add extension=".log" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
<!--
        <add extension=".clipflair" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".zip" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".clipflair.zip" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />

        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        
        <add extension=".dzi" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".dzc" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".cxml" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" /> 
-->
      </profiles>
    </caching>
    
    <staticContent>
      <mimeMap fileExtension=".log" mimeType="text/plain"/>
      
      <!-- ClipFlair Studio -->
      <mimeMap fileExtension=".clipflair" mimeType="application/clipflair"/>
      
      <!-- DeepZoom -->
      <mimeMap fileExtension=".dzi" mimeType="text/xml"/>
      <mimeMap fileExtension=".dzc" mimeType="text/xml"/>
      
      <!-- PivotViewer -->
      <mimeMap fileExtension=".cxml" mimeType="text/xml"/>
      
      <!-- Apple HTTP Live Streaming (HLS) -->
      <!-- see https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/StreamingMediaGuide/DeployingHTTPLiveStreaming/DeployingHTTPLiveStreaming.html#//apple_ref/doc/uid/TP40008332-CH2-SW3 -->
      <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL"/>
      <mimeMap fileExtension=".ts" mimeType="video/MP2T"/>
    </staticContent>
    
  </system.webServer>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5"/>
  </system.web>
</configuration>