.News_mainNewsTable
{
	border:solid 1px Silver;	
}

.News_mainTableBorder
{
	border:solid 1px Silver;
}
.News_mainTableTopBorder
{
	border-top:solid 1px Silver;	
}

.News_ImageLayout
{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}