/* ----------------------------------------------
	NAV - PAGES
---------------------------------------------- */
.pager-container
{
	background: url(img/grid/pager_bg.png) repeat-x;
	width: 977px;
	height: 19px;
	border-left: solid 1px #a9a9a9;
	border-right: solid 1px #a9a9a9;
	border-bottom: solid 1px #d0e5f6;
	clear:both;	
	font-size: 10px;
	padding: 5px 5px 0px 5px;
}
.nav-pg-back 
{	
	float: right;
}
.nav-pg-top 
{		
	float: right;

}
#listing-hits 
{	
	text-align:right;	
}
.listing-prev
{			
	float: left;
	margin-right: 5px;
}
.listing-next 
{			
	float: left;
	margin-left: 5px;
}
#listing-pages 
{		

	float: left;
}
#listing-pages .sel 
{	
	color: #fff;
	background: #264c99;
	text-decoration: none;
	padding: 0 .3em;
	width: 1.2em;
	margin-bottom: -0.4em;
}


/**** Pager Start ****/
.pager
{
	width: 100%;
	margin: 10px 0px;
}
.pager A:link,
.pager A:active,
.pager A:visited,
.pager .selected
{
	background-color: #F2F7FC;
	border: 1px solid #CBD3D9;
	display: inline-block;
	padding: 5px 10px;
	color: #a5b2bd;
	font-size: 12px;
	font-weight: bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.pager A:hover
{
	background-color: #CBD3D9;
	border: 1px solid #CBD3D9;
	text-decoration: none;
	color: #142738;
}
.pager .selected
{
	background-color: #DC613F;
	border: 1px solid #DC613F;
	color: #fff;
}
/**** Pager End ****/